<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mt-4 mb-4">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="axacolor h4 titlethanks text-muted mb-0 mt-0">Felicidades Alan Estas a punto de obtener tu mejor opcion. Selecciona tu tarjeta de credito</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mt-3">
      <div class="container-fluid contain">
        <b-tabs>
          <b-tab active>
            <span slot="title">
              <i class="fa fa-credit-card"/> Credito
            </span>
            <tdc-component/>
          </b-tab>
          <b-tab>
            <span slot="title">
              <i class="fa fa-plane"/> Viajes
            </span>
            <tviajes-component/>
          </b-tab>
          <b-tab>
            <span slot="title">
              <i class="fa fa-cart-arrow-down"/> Departamentales
            </span>
            <tdepartamental-component/>
          </b-tab>
        </b-tabs>
      </div>
    </section>
  </div>
</template>
<script>
import TdcComponent from '~/components/common/Tdc.vue'
import TdepartamentalComponent from '~/components/common/Tdepartamental.vue'
import TviajesComponent from '~/components/common/Tviajes.vue'
export default {
  components: {
    TdcComponent,
    TdepartamentalComponent,
    TviajesComponent
  }
}
</script>
