<template>
  <div>
    <div class="fondo-t">
      <div class="container-fluid fondoi">
        <div class="row gris sm-p">
          <div class="col-12 pl-0 pr-0">
            <div class="row sm-p">
              <div 
                id="americandatos"
                name="americandatos" 
                class="col-12 col-md-9 col-lg-9 offset-md-3 offset-lg-3 parte1">
                <h1 class="t1">Ingresa tus datos en {{ this.$store.state.config.marca }}</h1>
                <h2
                  class="t2"
                >Cotiza tu tarjeta de crédito con {{ this.$store.state.config.tdc }}</h2>
              </div>
            </div>
            <formulario-content/>
            <iconos-content />
          </div>
        </div>
        <!--div de row-->
      </div>
      <!--cierre de container-fluid-->
      <ficheros-content/>
      <generica-content/>
      <reservados-content/>
    </div>
  </div> 
</template>
<style>
.sm-p {
  margin: 0px;
  padding: 0px;
}
.fondo-t {
  background-color: /*rgba(0, 0, 0, .6);*/ #f8f8f8;
}
.fondoi {
  background-image: url('../../static/img/background-tarjetas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  height: 430px;
}
.gris {
  background: rgba(0, 0, 0, 0.7);
  height: 430px;
  background-size: cover;
}
.parte1 {
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}
.t1 {
  font-size: 35px;
  color: white;
  margin-bottom: 0px;
}
.t2 {
  font-size: 22px;
  color: white;
}
@media (min-width: 2000px) {
  .fondoi {
    height: 630px;
  }
  .gris {
    background: rgba(0, 0, 0, 0.6);
    height: 630px;
  }
}
@media (min-width: 1590px) and (max-width: 1999px) {
  .fondoi {
    height: 460px;
  }
  .gris {
    background: rgba(0, 0, 0, 0.6);
    height: 460px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .fondoi {
    height: 400px;
  }
  .gris {
    background: rgba(0, 0, 0, 0.6);
    height: 400px;
  }
  .t1 {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 13px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .fondoi {
    height: 400px;
  }
  .gris {
    background: rgba(0, 0, 0, 0.6);
    height: 400px;
  }
  .t1 {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 13px;
    margin-bottom: 0px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .fondoi {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 670px;
  }
  .gris {
    height: 670px;
  }
  .parte1 {
    color: black;
    text-align: center;
  }
  .t1 {
    font-size: 23px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .fondoi {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 730px;
  }
  .gris {
    height: 730px;
  }
  .parte1 {
    color: black;
    margin: 1em 0em;
    text-align: center;
  }
  .t1 {
    font-size: 23px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .fondoi {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 695px;
  }
  .gris {
    height: 695px;
  }
  .parte1 {
    color: black;
    margin-top: 1em;
    text-align: center;
  }
  .t1 {
    font-size: 23px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .fondoi {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 775px;
  }
  .gris {
    height: 775px;
  }
  .parte1 {
    color: black;
    margin: 1em 0em;
    text-align: center;
  }
  .t1 {
    font-size: 23px;
    margin-bottom: 0px;
  }
  .t2 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
</style>


<script>
import axios from 'axios'
import GenericaContent from '~/components/common/components-amex/generica.vue'
import formularioContent from '~/components/common/components-amex/formulario.vue'
import ficherosContent from '~/components/common/components-amex/ficheros.vue'
import reservadosContent from '~/components/common/reservados.vue'
import iconosContent from '~/components/common/components-amex/iconos.vue'

//import scrolltop from '~/plugins/scrolltop.js'

export default {
  components: {
    GenericaContent,
    formularioContent,
    ficherosContent,
    reservadosContent,
    iconosContent
  },
  created: function() {
    this.$store.state.config.marca = 'Compara Ya!'
    this.$store.state.config.tdc = 'American Express'
  }
}
</script>
