@import url('https://fonts.googleapis.com/css?family=Cairo:400,700');
body{margin: 0; padding: 0px;}
*,body,p,h1,h2,h3,h4,h5,h6,span,ul,li,ol,input,button,select{font-family: 'Cairo', sans-serif;}
/*p{text-align: left;}
.imgcompara{width: 150px;position: relative;z-index: 2;}
.h1style{font-size: 25px;color: white;font-weight: normal;margin-top: 10px;}
.h2style{font-size: 28px;}
.h3style{font-size: 17px;font-weight: normal;}
.styleh5{color: #777;font-size: 20px;}
.h6style{font-weight: normal;font-size: 13px;}
.subtitleh1{font-size: 16px;color: white;margin-bottom: 10px;}
.subtitle{font-size: 18px;}
.ulstyle{font-size: 14px;}
.textform{font-size: 12px;}
.padd0{padding: 0;}*
.titlebeneficios{font-size: 15px;}
.black{color: #000;font-weight: 700;font-size:20px;}
.fondocompara{background-color:#04de66;}
.btnheader{color: #04de66;background-color: transparent;background-image: none;border-bottom: 3px solid #00de46;border-top: none !important;border-left: none !important;border-right: none !important;border-radius: 0px;}
.btntel{background-color: #04de66;border: none;}
.btn-outline-success {border-bottom: 3px solid #00de46;border-top: none;border-right: none;border-left: none;}
.btn-outline-success:hover {
color: #04de66;background-color: transparent;background-image: none;border-bottom: 3px solid #00de46;border-top: none;border-right: none;border-left: none;border-radius: 0px;}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
color: #04de66;background-color: transparent;background-image: none;border-bottom: 3px solid #00de46;border-top: none;border-right: none;border-left: none;border-radius: 0px;}
.btn-outline-success.focus, .btn-outline-success:focus {box-shadow: 0 0 0 0rem #04de66;}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem rgba(40, 167, 69, .5);}
.btncotiza{background-color: #04de66;border: none;font-weight: 700;margin-top: 0px;font-size: 20px;}
.btncompara{background-color: #04de66;color:#ffff;border:none;box-shadow: -6px 5px 3px -1px #ebebeb;font-size: 20px;font-weight: bolder;margin: 14px auto;display: block;border-radius: 5px;border: none;}
.btn-success:hover {color: #fff;background-color: #04de66;border-color: #04de66;}
.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {color: #fff;background-color: #04de66;border-color: #04de66;}
label{color: #8a8a8a;}
.cardf{background-color: #f6f6f6;border-radius: 5px;}
.card-body1{padding: 4px;}
.comparacolor{color:#04de66;}
.comparacolorfondo{background-color:#04de66;}
.colorcompara{color: #04de66;font-weight: 900;font-size: 20px;}
.fondoheader{background: #6e7881;}
.fontsubtext{font-size: 10px;}
.card-header{color: white;}
.card {border: none !important;margin-bottom: 10px;border-radius: 5px;box-shadow: 0px 7px 15px 0px rgba(1, 5, 9, 0.1);}
.card-title {color: #fff;font-size: 24px;font-weight: 300;text-transform: uppercase;}
.stylerate{font-size: 25px;color:#333;margin-top: -5px;margin-bottom: -8px;}
.styleratestar{font-size: 25px;color:#04de66;margin-bottom: 0;}
.spanrate{font-size: 14px;color: #888;}
.circlestyle{padding: 3px;width: 56px;margin-top: -15px;}
.colorblack{color: #444;text-align: left;font-size: 17px;margin-bottom: 10px;}
.spanbeneficios{font-size: 13px;color: #444;font-weight: 700;}
.list-group-item{border:none;}
.badge-primary {color: #fff;background-color: #04de66;font-weight: 700;}
.bradius{border-radius: 6px;}
.imgstyle{width: 75px;height: auto;}
.imgaxa{width: 50px;}
.starthanks{font-size: 20px;}
.bordernone{border-radius: 0;}
.relative{position: relative;}
.moviletext{text-align: left;margin-top: 10px;}
.filtered{filter:grayscale(1);-webkit-filter:grayscale(1);-moz-filter:grayscale(1);}*/
/*.masthead {position: relative;background-color: #343a40;background: url("../img/tarjeta.jpg") no-repeat center;background-size: cover;}
.masthead .overlay {position: absolute;height: 100%;width: 100%;top: 0;left: 0;background:linear-gradient(to bottom, rgba(14, 14, 14, 0.7) 10%, rgb(0, 78, 148) 70%);}
.select {width: 95px;overflow: hidden;background-image:url(../img/chevron-down.svg);height:auto;display:block;background-size:12px;background-position:right 0.8em center;background-repeat:no-repeat;}
.selectcarro {width: 100%;}
.selectsexo {width: 100%;}
.selectedad {width: 100%}
.select select {padding: 5px 0px;width: 100%;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}*/
.custominput{border-bottom: 2px solid #00d752 !important;border: none;color: #888;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #04de66;}
.padd8{padding: 8px;}
/*.carousel-indicators{bottom: -40px;}
.carousel-indicators li {position: relative;-ms-flex: 0 1 auto;flex: 0 1 auto;width: 10px;height: 10px;margin-right: 3px;margin-left: 3px;text-indent: -999px;cursor: pointer;background-color: #8888;border-radius: 100%;}
.carousel-indicators .active {background-color: #04de66;}
.imgslide{position: absolute;z-index: 1;float: none;display: block;margin: 15px 30%;background: white;box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.1);}
.pslide{font-size: 25px;text-align: center;color: #777;font-weight: 600;}
.opacitycard{opacity: .8;}
.icon-bar {width: 22px;height: 2px;background-color: #B6B6B6;display: block;transition: all 0.2s;margin-top: 4px}
.navbar-toggler {border: none;background: transparent !important;}
.navbar-toggler .top-bar {transform: rotate(45deg);transform-origin: 10% 10%;}
.navbar-toggler .middle-bar {opacity: 0;}
.navbar-toggler .bottom-bar {transform: rotate(-45deg);transform-origin: 10% 90%;}
.navbar-toggler.collapsed .top-bar {transform: rotate(0);}
.navbar-toggler.collapsed .middle-bar {opacity: 1;}
.navbar-toggler.collapsed .bottom-bar {transform: rotate(0);}
.cardfrm {border: none !important;margin-bottom: 10px;border-radius: 5px;}
*.card1{float: left;border-right:1px solid #f3f3f3;border-radius: 2px;position: relative;box-shadow: 18px 8px 40px 0px rgba(1, 5, 9, .1);}*
.card1{float: left;border-radius: 2px;position: relative;}*/
@media (min-width: 768px) {
.masthead {padding-top: 1.5rem;padding-bottom: 1.5rem;}
.call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;height: 320px;background-position-y: -24vh;}
.call-to-action1 {position: relative;background-color: #343a40;background: url("../img/credito.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;}
.call-to-action .overlay {position: absolute;background-color:rgba(0, 0, 0, 0.75);height: 240px;width: 100%;top: 0;left: 0;opacity: 0.4;}


}
.call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;/*padding-top: 5rem;padding-bottom: 5rem;*/height: 290px;background-position-y: -37vh;}
.call-to-action1 {position: relative;background-color: #343a40;background: url("../img/credito.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;}
.call-to-action .overlay {position: absolute;background-color: #000;height: 290px;opacity: 0.75;}
.call-to-action1 .overlay {position: absolute;background-color: #000;height: 100%;width: 100%;top: 0;left: 0;opacity: 0.4;}*/
/*ESTILOS AGRADECIMIENTO*/
.subtitlebeneficios{margin-bottom: -5px;margin-top: 10px;}
.mediatarjeta{color: #777;margin-bottom: 0;font-size: 17px;font-weight: 400;}
.subtitletarjeta{color: #222;font-size: 15px;}
.spancard{text-transform: uppercase;margin-top: -2px;margin-bottom: -5px;font-size: 12px;}
.pricecard{font-size: 17px;font-weight: bold;color: #000;}
.starcard{font-size: 28px;color:#00d752;}
.marginrate{margin-top: 10px;}
.cali{font-size: 18px;margin-bottom: -5px;}
.alertgracias{margin-top: 10px;margin-bottom: 0px;padding: 5px 5px;background-color: #bef0d9;color: #555;font-size: 12px;font-weight: 700;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {color: #04de66;background-color: #fff;font-weight: 600;}
.nav-tabs .nav-link {color: #777;}
.brd{border-radius: 5px 5px 0px 0px;}
.brds{border-radius: 0px 0px 5px 5px;margin-top: -10px;}
.beneficios{font-size: 13px;list-style: outside none none;padding: 0px;margin-bottom:0px;}
.btnstyle{padding: 0;background: transparent;color: #888;border: none;font-size: 14px;margin-top: -3px;cursor: pointer;}
.badget{margin-bottom: 10px;padding: 5px;border-radius: 0 !important;text-align: left;margin-top: -15px;font-size: 10px;}
.spacebadget{margin-top: -15px;margin-bottom: 10px;}
.badgetmovile{color: #fff;right: -14px;position: relative;}
.review {
    font-size: 19px;
margin-bottom: 0;
color: #777;
}
/**/
/*MEDIA RESPONSIVE*/
@media(min-width:1601px) and (max-width:4000px){
.cardslide{padding-bottom: 78px;}.cardform{padding:0px 0px;margin-left: -20px;}.cardheight{padding: 0px}
.semicirculo {height: 150px;width: 300px;background: #ddfae8;border-radius: 210px 210px 0 0;margin: 204px 61%;position: absolute;z-index: -1;opacity: 0.8;display: block;}
.semicirculo1 {height: 136px;width: 387px;background: #bff7d4;border-radius: 200px 200px 0 0;margin: 217px 56%;position: absolute;z-index: -2;display: block;}
.semicirculo2 {height: 138px;width: 321px;background: #bff7d4;border-radius: 210px 210px 0 0;margin: 216px 65%;position: absolute;z-index: -2;display: block;}
.contain{max-width: 95%}
}
@media(min-width:1201px) and (max-width:1600px){
.styleratestar {font-size: 18px;}
.cardslide{padding-bottom: 78px;}.cardform{padding:7px 10px;margin-left: -20px;}.cardheight{padding: 0px}
.semicirculo {height: 150px;width: 300px;background: #ddfae8;border-radius: 210px 210px 0 0;margin: 204px 61%;position: absolute;z-index: -1;opacity: 0.8;display: block;}
.semicirculo1 {height: 136px;width: 387px;background: #bff7d4;border-radius: 200px 200px 0 0;margin: 217px 56%;position: absolute;z-index: -2;display: block;}
.semicirculo2 {height: 138px;width: 321px;background: #bff7d4;border-radius: 210px 210px 0 0;margin: 216px 65%;position: absolute;z-index: -2;display: block;}
.contain{max-width: 95%}
}
@media(min-width:1024px) and (max-width:1200px){
  .cardform{padding: 7px 10px;}
  .cardslide{padding-bottom: 80px;}
  .styleratestar {font-size: 18px;}
  .stylerate{font-size: 22px;}
  .carousel-indicators{bottom: -20px;}.cardheight{padding: 0px}
  .titlebeneficios {font-size: 12px;}.pslide {font-size: 21px;text-align: center;}.cardheight{padding: 0px}
  .semicirculo{margin: 267px 61%;height: 86px;width: 167px;}
  .semicirculo1{height: 66px;width: 167px;margin: 287px 56%;}
  .semicirculo2{height: 75px;width: 151px;margin: 278px 71%;}
}
@media(min-width:901px) and (max-width:1024px){
  .cardform{padding: 22px 10px;}
  .styleratestar{font-size: 18px;}
  .stylerate{font-size: 22px;}
  .cardslide{padding-bottom: 85px;}
  .cardheight{padding: 0px}
  .semicirculo{margin: 267px 65%;height: 86px;width: 217px;}
  .semicirculo1{height: 66px;width: 247px;margin: 287px 59%;}
  .semicirculo2{height: 65px;width: 145px;margin: 288px 78%;}
  .imgslide{left: 45%;margin: 10px auto;}
  .starcard{font-size: 23px;}
  .mt20{margin-top: 20px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;/*padding-top: 5rem;padding-bottom: 5rem;*/height: 220px;background-position-y: -28vh;}
  .call-to-action1 {position: relative;background-color: #343a40;background: url("../img/credito.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 220px;opacity: 0.75;}
  .call-to-action1 .overlay {position: absolute;background-color: #000;height: 100%;width: 100%;top: 0;left: 0;opacity: 0.4;}
}
@media(min-width:801px) and (max-width:900px){
  .custominput{margin-bottom: 10px;}
  .moviletext{font-size: 13px;margin-top: 10px;}
  .cardform{padding: 15px 5px 15px;}
  .styleratestar{font-size: 20px;}
  .btncotiza{font-size: 17px;}
  .cardslide{padding-bottom: 42px;}
  .imgslide{left: 43%;margin: 10px auto;}
  .starcard{font-size: 23px;}
  .mt20{margin-top: 20px;}
}
@media(min-width:768px) and (max-width:800px){
  .custominput{margin-bottom: 10px;}
  .moviletext{font-size: 13px;margin-top: 10px;}
  .cardform{padding: 24px 5px 24px;}
  .styleratestar{font-size: 20px;}
  .btncotiza{font-size: 17px;}
  .cardslide{padding-bottom: 42px;}
  .imgslide{left: 43%;margin: 10px auto;}
  .starcard{font-size: 23px;}
  .mt20{margin-top: 20px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;height: 150px;background-position-y: -20vh;}
  .call-to-action1 {position: relative;background-color: #343a40;background: url("../img/credito.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 180px; width: 100%; opacity: 0.7;}
  .call-to-action1 .overlay {position: absolute;background-color: #000;height: 100%;width: 100%;top: 0;left: 0;opacity: 0.4;}

}
@media(min-width:600px) and (max-width:767px){
  .custominput{margin-bottom: 7px;}
  .cardslide{padding-bottom: 42px;}
  .imgslide{left: 43%;margin: 10px auto;}
  .beneficios{font-size: 13px;margin-top: 15px;margin-bottom: 20px;}
  .starcard{font-size: 23px;}
  .mt20{margin-top: 20px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;height: 150px;background-position-y: -18vh;}
  .call-to-action1 {position: relative;background-color: #343a40;background: url("../img/credito.jpg") no-repeat center center;background-size: cover;padding-top: 5rem;padding-bottom: 5rem;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 150px; width: 100%; opacity: 0.7;}
  .call-to-action1 .overlay {position: absolute;background-color: #000;height: 100%;width: 100%;top: 0;left: 0;opacity: 0.4;}
}
@media(min-width:481px) and (max-width:599px){
  .custominput{margin-bottom: 7px;}
  .movilemb{margin-bottom: 10px;}
  .imgslide{left: 40%;margin: 10px auto;}
  .marginmovile{margin-top: 0rem;margin-bottom: 1rem;}
  .txtmovile{text-align: center;margin-top: -20px;}
  .beneficios{font-size: 13px;margin-top: 15px;margin-bottom: 20px;}
  .mrtmovile{margin-top: 30px;}
  .starcard{font-size: 20px;}
  .paddmovile{padding: 15px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;/*padding-top: 5rem;padding-bottom: 5rem;*/height: 120px;background-position-y: -100px;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 120px;width: 100%; opacity: 0.7;}
}

@media(min-width:376px) and (max-width:480px){
  .custominput{margin-bottom: 4px;padding-left: 4px;padding-right: 0;font-size: 13px;}
  .btncotiza{margin-top: 15px;font-size: 18px;}
  .alingbtn{text-align: center;}
  .h1style {font-size: 17px;}
  .subtitleh1 {font-size: 12px;}
  .movilemb{margin-bottom: 10px;}
  .imgslide{left: 38%;margin: 10px auto;}
  .imgstyle{width: 65px;}
  .mbmovile{margin-bottom: 10px;}
  .marginmovile{margin-top: 0rem;margin-bottom: 1rem;}
  .txtmovile{text-align: center;margin-top: -20px;}
  .nav-tabs {font-size: 12px;}
  .titlethanks{font-size: 16px;}
  /*Estilos Agradecimiento*/
  .imgcompara {width: 130px;}
  .btntel{font-size: 15px;}
  .paddmovile{padding: 15px;}
  .mediatarjeta{font-size: 15px;}
  .pricecard {font-size: 15px;}
  .beneficios{font-size: 12px;margin-top: 6px;margin-bottom: 0px;}
  .mrtmovile{margin-top: 30px;}
  .starcard{font-size: 20px;}
  .mt20{margin-top: 20px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;/*padding-top: 5rem;padding-bottom: 5rem;*/height: 120px;background-position-y: -82px;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 120px;width: 100%; opacity: 0.7;}
  /**/
}
@media (min-width:321px) and (max-width:375px){
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;/*padding-top: 5rem;padding-bottom: 5rem;*/height: 100px;background-position-y: -65px;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 100px;width: 100%; opacity: 0.7; }
}
@media(min-width:240px) and (max-width:320px){
  .custominput{margin-bottom: 4px;padding-left: 4px;padding-right: 0;font-size: 13px;}
  .btncotiza{margin-top: 15px;font-size: 18px;}
  .alingbtn{text-align: center;}
  .h1style {font-size: 18px;}
  .subtitleh1 {font-size: 14px;}
  .imgstyle{width: 65px;}
  .movilemb{margin-bottom: 10px;}
  .imgslide{left: 105px;margin: 10px auto;}
  .mbmovile{margin-bottom: 10px;}
  .marginmovile{margin-top: 0rem;margin-bottom: 1rem;}
  .txtmovile{text-align: center;margin-top: -15px;}
  /*estilos agradecimiento*/
  .imgcompara {width: 130px;}
  .btntel{font-size: 15px;}
  .paddmovile{padding: 15px;}
  .titlethanks{font-size: 16px;}
  .nav-tabs {font-size: 12px;}
  .mediatarjeta{font-size: 12px;}
  .pricecard {font-size: 13px;}
  .beneficios{font-size: 12px;margin-top: 6px;margin-bottom: 0px;}
  .mrtmovile{margin-top: 30px;}
  .starcard{font-size: 20px;}
  .mt20{margin-top: 20px;}
  .call-to-action {position: relative;background-color: #343a40;background: url("../img/female.jpg") no-repeat center center;background-size: cover;height: 100px;background-position-y: -9vh;}
  .call-to-action .overlay {position: absolute;background-color: #000;height: 100px;width: 100%;top: 0;left: 0;opacity: 0.7;}
  /**/
}
/*FIN MEDIA*/