<template>
  <div 
    class="container-fluid" 
    style="background-color: #dfddde;">
    <div class="row">
      <div class="col-12">
        <div 
          class="alert alert-secondary alert-dismissible fade show mb-0 text-center" 
          role="alert" 
          style="background-color: #dfddde;border:none;">
          <strong>ADS</strong>
          <button 
            type="button" 
            class="close" 
            data-dismiss="alert" 
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
