<template>
  <div
    class="container-fluid top-fichas">
    <div class="row m-t2">
      <div 
        class="col-12 col-md-3 col-lg-3 rounded recuadro ml-md-3 ml-lg-5 mr-md-1 mr-lg-2 pt-3 pt-lg-5 pl-3 pr-3"
        style="padding:0px;">
        <div class="">
          <h2 class="fuente ben">Beneficios</h2>
          <p class="text">beneficio 1</p> 
          <p class="text">Lorem ipsum dolor sit amet consectetut.</p>
          <p class="text">beneficio 2</p> 
          <p class="text">Lorem ipsum dolor sit amet consectetut.</p>    
        </div>
        <div class="tarjet2">  
          <img
            src="img/t2.png"
            class="tarjeta-2"
            alt="tarjeta-2">
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8 rounded recuadro p-3 p-lg-5">
        <h2 class="borde pb-1 pb-md-3">¿Qué tarjeta es ideal para mi?</h2>
        <p class="text">Existen tarjetas de crédito que requieren cierto nivel de ingresos o que están condicionadas a contar con otro tipo de producto bancario o financiero, sin embargo, hay personas a quienes les conviene tenerlas, pues estas se encuentran asociadas a un determinado servicio o estatus necesario para ellos. Conforme a los datos del Buró de Crédito, el 80% de las solicitudes de tarjetas de crédito suelen ser rechazadas porque los candidatos al crédito no corresponden al nicho de población al que van dirigidas determinadas tarjetas.</p>
        <p class="text">Para que tu solicitud sea aprobada y sobre todo para que sepas cuál es la tarjeta que te conviene conforme a tus necesidades y sobre todo que se pueda adaptar con tu capacidad de pago estos son los puntos que debes considerar antes de solicitarla:</p>
        <ul 
          id="check"
          class="pl-3">
          <li class="text"> <span><i class="fa fa-check list"/></span> <strong>Analiza tu historial crediticio:</strong>  De 100 personas, una tienen el mismo nombre que otra, por lo que es sumamente importante que consultes tu historial en el Buró de Crédito, en donde te podrás cerciorar que no exista alguien con tu nombre.</li>
          <li class="text"> <span><i class="fa fa-check list"/></span> <strong>Elige con cuidado:</strong> Conforme a la Condusef, existen más de 90 productos diferentes y cada son más, en términos de tarjetas de crédito. Para ello es importantes que consideres este dato antes de que llenes una solicitud, las tarjetas de crédito no son un producto simple, ya que pueden representar uno de tus gastos principales.</li>
          <li class="text"> <span><i class="fa fa-check list"/></span> <strong>Se consiente:</strong> A la hora que llenes tu solicitud, debes ser honesto con tus respuestas, muy probable te pregunten por tu nivel de ingresos, recuerda que dar una respuesta falsa puede ocasionar una mala imagen crediticia, y con ello negar la tarjeta.</li>
          <li class="text"><span><i class="fa fa-check list"/></span> <strong>Ponte atento:</strong> Para ciertas instituciones bancarias es requisito que cuentes con una tarjeta, esta como signo de estabilidad y con ello te puedan otorgar otra línea de crédito, sin embargo, si tienes más tarjetas de las que puedes solventar, controla tus fechas de pago y sus gastos, recuerda que los gastos se pueden salir de control muy fácil, aún cuando no la uses pues pueden generar comisiones.</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
#check li {
  list-style: none;
}
.ben {
  text-align: center;
  font-weight: bold;
}
.beneficios {
  padding: 20px;
}
.fuente {
  color: #777;
}
.list {
  color: rgb(0, 224, 66);
}
.borde {
  border-bottom: solid #dc7901 4px;
  width: 80%;
  font-weight: bold;
  color: #777;
}
.recuadro {
  background: white;
  margin: 1vh;
  font-size: 13px;
  padding: 2%;
}
.tarjet2 {
  text-align: center;
  background-color: black;
  padding: 6% 0%;
  display: inline-block;
  width: 100%;
}
.tarjeta-2 {
  width: 80%;
  margin: 10px 0px 0px 0px;
}
.text {
  font-size: 20px;
}
.top-fichas {
  /*margin-top: -14em;*/
}
@media (min-width: 1870px) {
  .top-fichas {
    /*margin-top: -6em;*/
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /*margin-top: -90px;*/
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /*margin-top: -90px;*/
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: 25%;*/
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -9%;*/
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -17%;*/
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -10%;*/
  }
}
</style>
