<template>
  <div>  
    <!--<alerta-component/>-->
  </div>
</template>
<script>
import alertaComponent from '~/components/common/alerta.vue'

export default {
  components: {
    alertaComponent
  }
}
</script>
