<template>
  <div>  
    <alerta-component/>
    <div class="container-fluid fondo-t">
      <div class="row">
        <div class="col-12 nav1">
          <a 
            href="https://comparaya.mx/tarjeta-de-credito/">
            <img  
              class="logo img-l" 
              src="img/comparaya1.png"
              alt="logo">
          </a>
          <a 
            class="n-tel"
            href="tel:5514795314"> 
            <i 
              class="fa fa-phone tel"/> 
            <span class="num"> 5512141214 </span>
          </a> 
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import alertaComponent from '~/components/common/alerta.vue'

export default {
  components: {
    alertaComponent
  }
}
</script>
<style scoped>
.num {
  font-size: 17px;
}
#banco {
  display: inline-block;
}
.fondo-t {
  background-color: /*rgba(0, 0, 0, .6);*/ #f8f8f8;
}
.logo {
  width: 130px;
}
.img-l {
  margin: 5px 0 5px 7%;
}
.nav1 {
  background-color: white;
}
.n-tel {
  float: right;
  margin-right: 8%;
  color: #777;
  font-size: 14px;
  border: 1px solid #00d752;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 12px;
  margin-top: 0.5%;
}
.tel {
  color: #00d752;
  transform: scaleX(1);
}
@media (min-width: 661px) and (max-width: 1100px) {
  .n-tel {
    float: right;
    margin-right: 7%;
    color: #777;
    font-size: 15px;
    border: 1px solid #00d752;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 0px 4px;
    margin-top: 14px;
  }
}
@media (min-width: 481px) and (max-width: 660px) {
  #banco {
    display: none;
  }
  .n-tel {
    float: right;
    margin-right: 0px;
    color: #777;
    font-size: 11px;
    border: 1px solid #00d752;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 0px 4px;
  }
  .img-l {
    margin: 1% 1% 1% 0%;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  #banco {
    display: none;
  }
  .n-tel {
    float: right;
    margin-right: 0px;
    color: #777;
    font-size: 13px;
    border: 1px solid #00d752;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 2px 4px;
    margin-top: 3%;
  }
  .img-l {
    margin: 1% 1% 1% 0%;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  #banco {
    display: none;
  }
  .num {
    font-size: 15px;
  }
  .n-tel {
    float: right;
    margin-right: 0px;
    color: #777;
    font-size: 12px;
    border: 1px solid #00d752;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 2px 4px;
    margin-top: 6%;
  }
  .img-l {
    margin: 1% 1% 1% 0%;
  }
}
</style>
