<template>
  <div class="container-fluid footer">
    <div class="row">
      <div class=" col-12">
        <p class="center">© 2019 Comparaya. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y condiciones, asi como el Aviso de Privacidad. </p>
      </div>
    </div>
  </div>
</template>

<style>
.center {
  text-align: center;
}
.footer {
  background-color: white;
  font-size: 15px;
  padding-top: 1%;
}
@media (min-width: 661px) and (max-width: 1100px) {
  .footer {
    background-color: white;
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 660px) {
  .footer {
    background-color: white;
    font-size: 12px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .footer {
    background-color: white;
    font-size: 8px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .footer {
    background-color: white;
    font-size: 8px;
  }
}
</style>
