<template>
	<div class="row">
	  <div class="col-12">
	    <div 
	      v-for="item in Tcredito" 
	      :key="item.nametarjeta" 
	      class="card card-body brd">
	      <div class="row">
	        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
	          <div class="media">
	            <img 
	              src="img/clasica.png" 
	              class="mr-3 mt-0" 
	              style="width:120px;">
	            <div class="media-body">
	              <h6 class="mt-0 mb-0">
	                <strong class="subtitletarjeta">{{ item.Banco }}</strong>
	              </h6>
	              <h6 class="mb-0">
	                <strong class="mediatarjeta"> {{ item.nametarjeta }}</strong>
	              </h6>
	              <p class="spancard">ingreso minimo: <b class="pricecard">$5000</b></p>
	              <span class="starcard d-md-block d-lg-none">
	                <i class="fa fa-star"/>
	                <i class="fa fa-star"/>
	                <i class="fa fa-star"/>
	                <i class="fa fa-star"/>
	                <i class="fa fa-star-half-o"/>
	                <span style="color:#555;">9.5</span>
	              </span>
	              
	            </div>
	          </div>
	        </div>
	        <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
	          <p class="cali">calificacion 9.5</p>
	          <span class="starcard">
	            <i class="fa fa-star"/>
	            <i class="fa fa-star"/>
	            <i class="fa fa-star"/>
	            <i class="fa fa-star"/>
	            <i class="fa fa-star-half-o"/>
	          </span>
	        </div>
	        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
	          <h6 class="d-lg-none d-md-block">Beneficios</h6>
	          <ul class="beneficios">
	            <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
	            <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
	            <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
	          </ul>
	          <h6 
	            class="d-none d-sm-none d-md-none d-lg-block" 
	            style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
	            <i class="fa fa-plus-circle"/> 
	            <a 
	              v-b-toggle.collapse1
	              class="btnstyle" 
	              variant="primary">Ver mas Detalles</a>
	          </h6>
	        </div>
	        <div class="col-lg-2 col-md-12 col-sm-12 col-12">
	          <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
	            Solicitala ahora  <i class="fa fa-chevron-right"/>
	          </button>
	        </div>
	        <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
	          <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
	            <i class="fa fa-plus-circle"/> 
	            <a 
	              v-b-toggle.collapse1
	              class="btnstyle" 
	              variant="primary">Ver mas Detalles</a>
	          </h6>
	        </div>
	      </div>

	      <div class="">
	        <b-collapse 
	          id="collapse1" 
	          class="mt-2">
	          <b-card>
	            <p class="card-text">Collapse contents Here</p>
	            <a 
	              v-b-toggle.collapse1_inner 
	              size="sm">Toggle Inner Collapse</a>
	            <b-collapse 
	              id="collapse1_inner" 
	              class="mt-2">
	              <b-card>
	                Hello!
	              </b-card>
	            </b-collapse>
	          </b-card>
	        </b-collapse>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      Tcredito: [
        {
          Banco: 'American Express',
          nametarjeta: 'The Gold Card',
          ingreso: '$40,000',
          calificacion: 9.5,
          rate: '★★★★★',
          beneficio1: 'Obtén $4,000.00 M.N. en Liverpool al adquirirla',
        }
      ],
    }
  }
}
</script>
