<template>
  <div class="row">
    <div 
      v-for="item in Tcredito" 
      :key="item.nametarjeta"
      class="col-12">
      <div class="card card-body brd paddmovile">
        <div class="row">
          <div class="col-12 text-right d-sm-block d-md-none d-lg-none d-xl-none spacebadget">
            <span 
              v-if="item.id == 1" 
              class="badge badgetmovile badge-info">
              Info
            </span>
            <span 
              v-else 
              class="badge badgetmovile badge-primary">
              Info
            </span>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
            <div class="media">
              <img 
                :src="'img/tarjetas_credito/' + item.imagen +'.png'"
                class="mr-3 mt-0" 
                style="width:130px;">
              <div class="media-body">
                <h6 class="mt-0 mb-0">
                  <strong class="subtitletarjeta">{{ item.Banco }}</strong>
                </h6>
                <h6 class="mb-0">
                  <strong class="mediatarjeta">{{ item.nametarjeta }}</strong>
                </h6>
                <p class="spancard">ingreso minimo: <b class="pricecard">{{ item.ingreso }}</b></p>
                <h6 
                  class="d-none d-sm-none d-md-none d-lg-block" 
                  style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                  <i class="fa fa-plus-circle"/> 
                  <a
                    class="btnstyle"
                    @click="item.open = !item.open">
                    Ver mas Detalles
                  </a>
                </h6>
                <span class="starcard d-md-block d-lg-none">
                  {{ item.rate }}
                  <span style="color:#555;font-size: 14px;"> {{ item.calificacion }} </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
            <p class="cali">calificacion {{ item.calificacion }}</p>
            <span class="starcard"> {{ item.rate }} </span>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
            <h6 class="d-lg-none d-md-block subtitlebeneficios">Beneficios</h6>
            <ul class="beneficios">
              <li> <i class="fa fa-check comparacolor"/> {{ item.beneficio1 }} </li>
              <li> <i class="fa fa-check comparacolor"/> {{ item.beneficio2 }} </li>
              <li> <i class="fa fa-check comparacolor"/> {{ item.beneficio3 }} </li>
              <li>  {{ item.beneficio4 }} </li>
              <li>  {{ item.beneficio5 }} </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-12">
            <a 
              :href="item.url"
              class="btn btn-block btn-success comparacolorfondo border-0 mt20" 
              target="_blank">
              Solicitala ahora  <i class="fa fa-chevron-right"/>
            </a>
          </div>
          <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
            <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
              <i class="fa fa-plus-circle"/> 
              <a
                class="btnstyle"
                @click="item.open = !item.open">
                Ver mas Detalles
              </a>
            </h6>
          </div>
        </div>
        <div class="mt-3">
          <table 
            v-show="item.open"
            :key="item.nametarjeta" 
            class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ item.nametarjeta }}</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>{{ item.nametarjeta }}</td>
                <td>{{ item.nametarjeta }}</td>
              </tr>
              <tr>
                <td>{{ item.nametarjeta }}</td>
                <td>{{ item.nametarjeta }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row d-none d-sm-none d-md-block">
        <div class="col-12">
          <div 
            v-if="item.id == 1"
            class="card badget alert alert-success">
            {{ item.id }}
          </div>
          <div 
            v-else
            class="card badget alert alert-primary">
            {{ item.id }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      Tcredito: [
        {
          id: 1,
          Banco: 'American Express',
          nametarjeta: 'The Gold Card',
          ingreso: '$40,000',
          calificacion: 9.5,
          rate: '★★★★★',
          beneficio1: 'Obtén $4,000.00 M.N. en Liverpool al adquirirla',
          beneficio2: '1er año sin costo de Cuota Anual',
          beneficio3: 'Acceso automático al Programa Membership Rewards',
          beneficio4: '',
          beneficio5: '',
          imagen: 'american-gold',
          open: false,
          url: 'https://www.americanexpress.com/mx'
        },
        {
          id: 2,
          Banco: 'CitiBanamex',
          nametarjeta: 'Clasica',
          ingreso: '$7000',
          calificacion: 9.5,
          rate: '★★★★★',
          beneficio1: 'Acceso automático al Programa Membership Rewards',
          beneficio2: '1er año sin costo de Cuota Anual',
          beneficio3: 'Obtén $4,000.00 M.N. en Liverpool al adquirirla',
          beneficio4: '',
          beneficio5: '',
          imagen: 'banamex-clasica',
          open: false,
          url: 'https://portal.banamex.com.mx/solicitud_tdc_v8/'
        },
        {
          id: 3,
          Banco: 'Scotiabank',
          nametarjeta: 'Tradicional',
          ingreso: '$7000',
          calificacion: 9.5,
          rate: '★★★★★',
          beneficio1: '1er año sin costo de Cuota Anual',
          beneficio2: 'Obtén $4,000.00 M.N. en Liverpool al adquirirla',
          beneficio3: 'Acceso automático al Programa Membership Rewards',
          beneficio4: '',
          beneficio5: '',
          imagen: 'scotiabank-clasica',
          open: false,
          url: 'https://portal.banamex.com.mx/'
        }
      ]
    }
  }
}
</script>
