<template>
  <div
    class="container-fluid top-fichas">
    <div class="row m-t2">
      <div 
        class="col-12 col-md-3 col-lg-3 rounded recuadro ml-md-3 ml-lg-5 mr-md-1 mr-lg-2 pt-3 pt-lg-5"
        style="padding:0px;">
        <div class="">
          <h2 class="fuente ben">Beneficios</h2>
          <p class="text">Dentro de los beneficios más importantes que puedes tomar en cuenta de <strong>las Tarjetas de Servicios</strong> encontramos:</p>
          <ul
            id="check2"
            class="text pl-3">
            <li><span><i class="fa fa-check list"/></span>Asistencia en viajes alrededor del mundo.</li>
            <li><span><i class="fa fa-check list"/></span>Protección para tu viaje.</li>
            <li><span><i class="fa fa-check list"/></span>Seguro en caso de accidentes al estar de viaje.</li>
            <li><span><i class="fa fa-check list"/></span>Protección para las compras que realices con tu Tarjeta de Servicios.</li>
            <li><span><i class="fa fa-check list"/></span>Garantía en casi todas las compras que realices.</li>
          </ul>
        </div>
        <div class="tarjet2">  
          <img
            src="img/tarjetas_credito/amex.png"
            class="tarjeta-2"
            alt="tarjeta-2">
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8 rounded recuadro  p-3 p-lg-5">
        <h2 class="borde pb-1 pb-md-3">¿Cuáles son la Tarjetas de Crédito de American Express?</h2>
        <p class="text">En Compara Ya, deseamos te sientas seguro al elegir y contratar la que será tu nueva tarjeta de crédito American Express, por ello es que te ofrecemos las principales contribuciones o beneficios que cada una de las tarjetas tiene para ti, nos basamos principalmente en tus necesidades, tus ingresos y sobre todo en tu línea de crédito.</p>
        <p class="text">Creemos que una tarjeta de crédito American Express debe ser tu aliada, con esto nos referimos a que puedas hacer tus compras y pagos de manera segura tranquila, con las que puedas recibir recompensas y puedas ser parte de grupos selectivos o exclusivos dependiendo de la tarjeta que elijas, por ello te ofrecemos las tarjetas de crédito de American Express.</p>
        <p class="text">Existen diferentes tipos de Tarjetas aquí observaremos cómo funcionan además de que te explicaremos cómo elegir y usar una Tarjeta de Crédito y/o Servicio. La Tarjeta de Crédito ofrece una línea previamente establecida, de manera que puedas mantener un saldo de un mesa  a otro sin la necesidad de pagar la cantidad o el total de cada periodo.</p>
        <p class="text">American Express como empresa cree que el mundo está lleno de posibilidades y sobre todo es potencial por explotar, mismo que ello desean explotar, a través de las experiencias que vivimos y en lo que nos rodea. </p>
        <p class="text">Dentro de las Tarjetas de Crédito que American Express ofrece podemos ver la que mejor se adapte a nuestras necesidades y sobre todo a un estilo de vida determinado, con la que tendremos la flexibilidad financiera que buscamos, o en otra de sus modalidades liquidando el total.</p>
        <p class="text">Con las Tarjetas de American Express puedes obtener diferentes beneficios exclusivos, tan solo con la tarjeta de Crédito, puedes tener el acceso al Programa de Membership Rewards with Payback, con el que podrás adquirir diferentes recompensas que van desde una cortesía en café hasta las vacaciones que estabas planeando.</p>
        <p class="text">De los beneficios que puedes obtener estos van más allá, ya que con Las Tarjetas de Crédito American Express no tendrás que preocuparte de más, pues con tu familia puedes sentirte tranquilo ya que junto con ellos estarás cubierto durante tus viajes con los seguros que proporciona American Express, tus compras diarias estarán seguras y si en tu Estado de Cuenta descubres un cargo que no realizaste, con American Express tendrás la opción de protección ante estas situaciones.</p>
      </div>
    </div>
  </div>
</template>
<style>
#check li {
  list-style: none;
}
.ben {
  text-align: center;
  font-weight: bold;
}
.beneficios {
  padding: 20px;
}
.custominput {
  border-bottom: 2px solid #006fcf !important;
  border: none;
  color: #888;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #006fcf !important;
}
.fuente {
  color: #777;
}
.list {
  color: #006fcf !important;
}
.borde {
  border-bottom: solid #006fcf 4px !important;
  width: 80%;
  font-weight: bold;
  color: #777;
}
.recuadro {
  background: white;
  margin: 1vh;
  font-size: 13px;
  padding: 2%;
}
.tarjet2 {
  text-align: center;
  background-color: #014a8b !important;
  padding: 6% 0%;
  display: inline-block;
  width: 100%;
}
.tarjeta-2 {
  width: 80%;
  margin: 10px 0px 0px 0px;
}
.text {
  font-size: 20px;
}
.top-fichas {
  /*margin-top: -14em;*/
}
@media (min-width: 1870px) {
}
@media (min-width: 801px) and (max-width: 1100px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /* margin-top: -12%*/
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /*margin-top: -12%;*/
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -30%;*/
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -9%;*/
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -30%;*/
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -10%;*/
  }
}
</style>
