<template>
  <div>
    <section><!--ingresado por abi-->
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">Compara Ya, los tipos de tarjetas de Crédito American Express</h2>
          </div>              
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-2 ">
            <p class="text">Existen diferentes tipos de tarjetas de crédito dentro de American Express, para que elijas la que mejor se adapte a tus necesidades y sobre todo tu capacidad de pago, cuenta con las tarjetas que conocerás a continuación:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span><strong>Tarjetas que recompensan tus compras:</strong> estas son las que te dan diferentes beneficios de conveniencia y seguridad de un Tarjeta American Express, con el beneficio adicional de acumular Puntos por tus compras.</li>
              <li><span><i class="fa fa-check list"/></span><strong>Tarjetas sin costo de Cuota Anual:</strong> son las tarjetas para quienes desean disfrutar los beneficios de su Tarjeta sin pagar el primer año de la cuota anual.</li>
              <li><span><i class="fa fa-check list"/></span><strong>Tarjetas para viajeros:</strong> si lo que necesitas es el respaldo pues vas de un lugar a otro, con este tipo de tarjeta estarás cubierto y recompensado con Puntos al realizar compras con ella:</li>
              <li><span><i class="fa fa-check list"/></span><strong>Tarjetas Premium:</strong> Es una de las tarjetas con las que puedes ganar puntos de Membership Rewards y beneficios exclusivos.</li>
            </ul>
            <p class="text">Encontrar el tipo de tarjeta que necesitamos o se adapte a nuestras necesidades suena difícil, pues podría llevarnos mucho tiempo, además que para saber sus modalidades de pago de las diferentes tarjetas es algo tedioso, por ello conoce y Compara Ya, encontraras la mejor opción que American Express tiene para ti, esta te ofrece un rango de Tarjetas de Crédito y Servicio con diferentes recompensas y beneficios que se ajustan a tus intereses y estilo de vida.</p>
            <p class="text">Con tu Tarjeta de Crédito American Express, conoce tu límite de gasto, este que depende del uso de la Tarjeta y está basada en factores que consideran tus hábitos de consumo, historial de pagos, récord crediticio y recursos financieros; si una tarjeta de crédito no es lo que estás buscando puedes conocer las tarjetas de servicio quizá alguna de estas sea la que más te convenga, para ello entra a Compara Ya.</p>
          </div>
        </div>
        <div 
          class="row m-t"
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0 ">
            <h2 class="borde fuente pb-1 pb-md-3">Requisitos para tramitar tu Tarjeta de Crédito American Express</h2>
          </div>
        </div>
        <div 
          class="row" 
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-3 ">
            <p class="text">A continuación encontrarás una lista con los requisitos para tramitar tu tarjeta de crédito American Express, si deseas conocer cuál es la que mejor se adapta a ti Compara Ya y elige tu tarjeta.</p>
            <p class="text">Dentro de los principales requisitos que la mayoría de las tarjetas pide son:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span> Tener más de 6 meses con alguna otra tarjeta de crédito, bancaria o departamental, ya sea Visa o Mastercard con un buen historial crediticio sin ningún tipo de atrasos ni sobregiros.</li>
              <li><span><i class="fa fa-check list"/></span> Ser mayor a 18 años.</li>
              <li><span><i class="fa fa-check list"/></span> Contar con una antigüedad mínima en el empleo de 3 meses.</li>
              <li><span><i class="fa fa-check list"/></span> Tomar en cuenta de débito o nómina con antigüedad mínima de doce meses.</li>
              <li><span><i class="fa fa-check list"/></span> Ingresos mensuales mínimos de $10 mil pesos, según la tarjeta, esto debes consultarlo dependiendo la que te interese.</li>
              <li><span><i class="fa fa-check list"/></span> Copia de la identificación oficial vigente con fotografía.</li>
              <li><span><i class="fa fa-check list"/></span> Comprobante de Ingresos en los últimos recibos de nómina o Estados de cuenta de cheques/inversión.</li>
              <li><span><i class="fa fa-check list"/></span> Comprobante de domicilio en México puede ser el recibo de agua, teléfono, estado de cuenta en estos puede incluir bancario o TV por cable, máximo de 3 meses de antigüedad.</li>
              <li><span><i class="fa fa-check list"/></span> Completar la solicitud.</li>
            </ul>
            <p class="text">Si lo que buscas es una tarjeta que no cobre anualidad, sin beneficios que no utilizarás, pero con la garantía del servicio a clientes de American Express, esta es una de tus mejores opciones, por ello es necesario que conozcas cuáles son las garantías de cada una de las tarjetas que vas a comparar, toma en cuenta que con cada una puedes estar tranquilo pues podrás recibir alertas en tu celular cada que utilices tu tarjeta y en cual es la fecha de pago.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="call-to-action mt-3 text-white text-center">
      <div class="overlay" />
      <div class="container">
        <div class="row">
          <div class="col-12 borde2">
            <h1 class="fuente2">Compara Ya mí experto aliado en tarjetas de crédito</h1>
            <hr class="linea">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid blanco ">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-md-5 rec">
            <p class="text">En Compara Ya encontrarás cuáles son los beneficios de diferentes tarjetas de crédito, de pago o de servicio, para que elijas la que mejor se adapte a tus necesidades, ya sea por los beneficios o las ventajas que ofrece y sobre todo por tu capacidad de pago y estilo de vida, ya que esto es muy importante a la hora de adquirir una tarjeta, para que perfiles cuáles son tus posibilidades y tu tarjeta de crédito sea tu aliada.</p>
            <p class="text">Compara Ya y beneficiate, decídete por tu mejor opción y realiza tu trámite más rápido y sencillo.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">¿Qué es una Tarjeta de Servicio American Express? </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5">
            <p class="text">En caso de que los cargos no se hayan pagado en su totalidad, el saldo que resulte pendiente se trasladará al siguiente período, dentro de las mismas posibilidades American Express ofrece la opción de adquirir tarjetas de servicio, estas son las tarjetas que no cuentan con un límite pre-establecido de cargos, ya que son aprobados con base en el uso de la tarjeta, el historial crediticio, los ingresos y sobre todo de la capacidad financiera. Una de las ventajas de estas es que no tendrás cargos por intereses, pues al final de cada mes pagas el total del saldo.</p>
            <p class="text">Con las Tarjetas de Servicio que ofrece American Express puedes obtener más beneficios de los que puedas imaginar ya que estas difieren de las Tarjetas de Crédito pues te ofrecen la flexibilidad financiera de no contar con un límite de gasto antes establecido, además que no cobran algún tipo de interés, pues el balance será en su totalidad pagado de manera completamente mensual.</p>
            <p class="text">También con este tipo de tarjetas estarás consentido pues, te premian a cada instante de uso ya que todas las Tarjetas American Express logran que sus clientes puedan maximizar el potencial de los Puntos de Membership Rewards; como parte de los Tarjetahabientes de las Tarjetas de American Express de Servicios entran de manera automática a los programas de recompensas de Membership Rewards with Payback, este es que cuando compras con tu Tarjeta, podrás ganar un punto por cada Dólar Americano o lo que es su equivalente en Moneda Nacional.</p>
            <p class="text">Después  de ello podrás canjear los Puntos por las recompensas que tu prefieras, desde poder relajarte hasta darte un espacio para reflexionar y relajarte en un spa de lujo; también otra de las funcionalidades que más destacan de estas tarjetas de servicio de American Express está que puedes transferir tus Puntos a un determinado número de hoteles y aerolíneas aliadas, incluido Aeroméxico y Hilton, las recompensas tú las eliges.</p>
            <p class="text">Dentro de los beneficios más importantes que puedes tomar en cuenta de las Tarjetas de Servicios encontramos:</p>
            <p class="text">Los beneficios podrán variar entre las Tarjetas, por ello es necesario que eches un vistazo y observes exactamente qué es lo que ofrecen cada una de las Tarjetas de las que estés interesado. Simplemente ingresa y descubre entre las listas de Tarjetas en el menú, o una de las mejores alternativas utiliza el botón de Compara Ya, para que revises todas las tarjetas que ofrece American Express al mismo tiempo y conozcas cuál es la que necesitas.</p>
            <p class="text">Recuerda que las Tarjetas de Servicio de American Express cuentan con servicio 24/7 donde sea que te encuentres y necesites atención, alguien del equipo de profesionales de atención al cliente de American Express te atenderá por teléfono, mensaje o vía correo electrónico. </p>
            <p class="text">Sin importar en qué parte del mundo estes, algún ejecutivo experto te dará la Asistencia Global, con la que te proporcionará ayuda de emergencia cuando sea que lo requieras, de día o de noche.</p>
            <p class="text">Dentro de las principales tarjetas de servicio podemos encontrar:</p>
            <p class="text">La Tarjeta American Express: Con ella obten $2,000.00 M.N. de regalo en Liverpool al adquirir la Tarjeta, con un ingreso mínimo mensual de $15,000.00 M.N.</p>
            <ul
              id="check3"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Sin costo el primer año.</li>
              <li><span><i class="fa fa-check list"/></span>Crece tu bebida de cortesía en Starbucks.</li>
              <li><span><i class="fa fa-check list"/></span>Descuentos en tus restaurantes favoritos.</li>
            </ul>
            <p class="text">The Gold Card American Express: Puedes obtener $4,000 M.N. de regalo en Liverpool al adquirir tu tarjeta con un ingreso mínimo mensual de $40,000 M.N.</p>
            <ul
              id="check3"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>The Centurion Lounge.</li>
              <li><span><i class="fa fa-check list"/></span>Fine Hotel and Resorts Program.</li>
              <li><span><i class="fa fa-check list"/></span>International Airline Program.</li>
            </ul>
            <p class="text">Encuentra la tarjeta que mejor se adapte a tus necesidades, disfruta de puntos por vuelos, obteniendo toda la comodidad y seguridad de una Tarjeta American Express mientras acumulas Puntos Aeroméxico, si no que deseas es una tarjeta que te lleve a conocer tu país y el mundo conoce las Tarjetas de Servicio de American Express.</p>
          </div>
        </div>           
      </div>
    </section>
    <a
      id="boton-arriba"
      :href="$store.state.config.prueba" ><i class="fa fa-angle-up arrow"/> </a>
  </div>
</template>
<style>
#check2 li {
  list-style: none;
}
#check3 li {
  list-style: none;
}
hr {
  background-color: #006fcf !important;
}
strong {
  color: #333;
}
.arrow {
  font-size: 40px;
}
.blanco {
  background-color: white;
}
.borde {
  border-bottom: solid #006fcf 4px !important;
  width: 100%;
  font-weight: bold;
}
.borde2 {
  width: 100%;
  font-weight: bold;
  color: white;
  margin-top: 2%;
}
#boton-arriba {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #00d752;
  background-color: rgba(250, 255, 255, 0.5);
  border: rgba(250, 255, 255, 0.5) solid 1px;
  border-radius: 100%;
  padding: 2px 10px;
}
#boton-arriba:hover {
  background-color: #00d752;
  color: white;
}
.fuente {
  color: #777;
}
.fuente2 {
  font-size: 6vh;
}
.list {
  color: rgb(0, 224, 66);
}
.linea {
  width: 22%;
  height: 1vh;
}
.m-t {
  margin-top: 8vh;
}
.m-t2 {
  margin-top: 4vh;
}
.text {
  font-size: 20px;
}

@media (min-width: 801px) and (max-width: 1100px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 0%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 6vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 4vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 8%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 5vh;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .m-t2 {
    margin-top: 1vh;
  }
  .text {
    font-size: 16px;
  }
}
</style>

<script>
export default {
  created: function() {
    this.$store.state.config.prueba = 'amex#americandatos'
  }
}
</script>
