<template>
  <div>
    <header-component/>
    <div 
      id="principal"/>
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
import HeaderComponent from '~/components/common/Header.vue'
import FooterComponent from '~/components/common/Footer.vue'
export default {
  components: {
    HeaderComponent,
    FooterComponent
  }
}
</script>
<style>
#boton-arriba {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #00d752;
  background-color: rgba(250, 255, 255, 0.5);
  border: rgba(250, 255, 255, 0.5) solid 1px;
  border-radius: 100%;
  padding: 2px 10px;
}
#boton-arriba:hover {
  background-color: #00d752;
  color: white;
}
.arrow {
  font-size: 40px;
}
</style>
