<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card card-body mt-3">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="media">
                  <img 
                    class="ml-0 mt-0" 
                    src="img/t2.png" 
                    width="150">
                  <div class="media-body ml-3">
                    <h5 class="axacolor mt-2">SCOTIABANK</h5>
                    <p class="review mb-0">reviews 4.5</p>
                    <span class="starthanks comparacolor">
                      <i class="fa fa-star"/>
                      <i class="fa fa-star"/>
                      <i class="fa fa-star"/>
                      <i class="fa fa-star"/>
                      <i class="fa fa-star-half-o"/>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                <h3 class="axacolor h4 titlethanks text-muted mb-0 mt-0">Hola Alan Gracias por solicitar tu tarjeta de credito, recuerda los beneficios que tenemos para ti</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mt-0">
      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <h2 class="text-left h2style comparacolor mb-0">¡Descubre la tarjeta que te convenga! </h2>
            <p class="text-left subtitle">Elígela según los beneficios ideales para tu estilo de vida: promociones exclusivas, meses sin intereses y más. </p>
          </div>
          <div class="col-4">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <img 
                  src="img/clasica.png"
                  width="90"
                  class="mr-3 mt-2">
                <div class="media-body">
                  <h5 class="text-left">Scotia Travel Clásica</h5>
                  <p>Recibe Bono de bienvenida de 8,000 ScotiaPuntos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <img 
                  src="img/linio.png"
                  width="90"
                  class="mr-3 mt-2">
                <div class="media-body">
                  <h5 class="text-left">Linio Scotiabank</h5>
                  <p>18 MSI + bonificación de última mensualidad</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <img 
                  src="img/platinum.png"
                  width="90"
                  class="mr-3 mt-2">
                <div class="media-body">
                  <h5 class="text-left">Scotia Travel Platinum</h5>
                  <p>Recibe Bono de bienvenida de 14,400 ScotiaPuntos</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!--fin container-->
    </section><!--Fin contenido 1-->
    
    <section class="call-to-action1 mt-5 text-white text-center">
      <div class="overlay" />
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto mt-5 mb-5">
            <h2 class="mb-4">Obten puntos y recibe grandes beneficios</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-0">
      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <h2 class="text-left h2style h4 comparacolor mb-0">Te puede interesar </h2>
            <p class="text-left subtitle">Elígela según los beneficios ideales para tu estilo de vida: promociones exclusivas, meses sin intereses y más. </p>
          </div>
          <div class="col-3">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <i class="fa fa-archive fa-3x mr-3"/>
                <div class="media-body">
                  <p>Tus tarjetas te premian en efectivo. Acumula 7%* en Puntos Premia1 en tus compras y úsalos para comprar lo que quieras o como dinero en efectivo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <i class="fa fa-archive fa-3x mr-3"/>
                <div class="media-body">
                  <p>Tus tarjetas te premian en efectivo. Acumula 7%* en Puntos Premia1 en tus compras y úsalos para comprar lo que quieras o como dinero en efectivo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <i class="fa fa-archive fa-3x mr-3"/>
                <div class="media-body">
                  <p>Tus tarjetas te premian en efectivo. Acumula 7%* en Puntos Premia1 en tus compras y úsalos para comprar lo que quieras o como dinero en efectivo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div 
              class="card text-center"
              style="position: relative;z-index: 1">
              <div class="media p-3">
                <i class="fa fa-archive fa-3x mr-3"/>
                <div class="media-body">
                  <p>Tus tarjetas te premian en efectivo. Acumula 7%* en Puntos Premia1 en tus compras y úsalos para comprar lo que quieras o como dinero en efectivo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--fin container-->
    </section><!--Fin contenido 1-->
    <footer >
      <div 
        class="container-fluid mt-3" 
        style="background-color: white;">
        <div class="row">
          <div class="col-12">
            <div class="card-body">
              <h6 class="text-center">SEGUROS MAS SOLICITADOS EN COMPARAYA 
                <button 
                  class="btn btn-sm btn-secondary ml-3" 
                  type="button"> 
                  Mas Informacion</button>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
