<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mt-4 mb-4">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="axacolor h4 titlethanks text-muted mb-0 mt-0">Felicidades Alan Estas a punto de obtener tu mejor opcion. Selecciona tu tarjeta de credito</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="mt-3">
      <div class="container-fluid contain">
        <b-tabs>
          <b-tab active>
            <span slot="title">
              <i class="fa fa-credit-card"/> Credito
            </span>
            <div class="row">
              <div class="col-12">
                <div class="card card-body brd">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
                      <div class="media">
                        <img 
                          src="img/tarjetas_credito/AmericanExpress/gold.jpg" 
                          class="mr-3 mt-0" 
                          style="width:130px;">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">
                            <strong class="subtitletarjeta">American Express</strong>
                          </h6>
                          <h6 class="mb-0">
                            <strong class="mediatarjeta">The Gold Card</strong>
                          </h6>
                          <p class="spancard">ingreso minimo: <b class="pricecard">$40,000</b></p>
                          <h6 
                            class="d-none d-sm-none d-md-none d-lg-block" 
                            style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                            <i class="fa fa-plus-circle"/> 
                            <a 
                              v-b-toggle.collapse
                              class="btnstyle" 
                              variant="primary">Ver mas Detalles</a>
                          </h6>
                          <span class="starcard d-md-block d-lg-none">
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star-half-o"/>
                            <span style="color:#555;">9.5</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
                      <p class="cali">calificacion 9.5</p>
                      <span class="starcard">
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star-half-o"/>
                      </span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
                      <h6 class="d-lg-none d-md-block">Beneficios</h6>
                      <ul class="beneficios">
                        <li> <i class="fa fa-check comparacolor"/> Obtén $4,000.00 M.N. en Liverpool al adquirirla</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                        <li> <i class="fa fa-check comparacolor"/> Acceso automático al Programa Membership Rewards</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                      </ul>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                      <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
                        Solicitala ahora  <i class="fa fa-chevron-right"/>
                      </button>
                    </div>
                    <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
                      <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                  </div>
                 
                  <div class="">
                    <b-collapse 
                      id="collapse" 
                      class="mt-2">
                      <b-card>
                        <p class="card-text">Collapse contents Here</p>
                        <a 
                          v-b-toggle.collapse1_inner 
                          size="sm">Toggle Inner Collapse</a>
                        <b-collapse 
                          id="collapse1_inner" 
                          class="mt-2">
                          <b-card>
                            Hello!
                          </b-card>
                        </b-collapse>
                      </b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card brds">
                  <div 
                    class="alert alertgracias" 
                    role="alert">
                    A simple secondary alert—check it out!
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card card-body brd">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
                      <div class="media">
                        <img 
                          src="img/tarjetas_credito/AmericanExpress/amex1.png" 
                          class="mr-3 mt-0" 
                          style="width:130px;">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">
                            <strong class="subtitletarjeta">American Express</strong>
                          </h6>
                          <h6 class="mb-0">
                            <strong class="mediatarjeta">AMEX</strong>
                          </h6>
                          <p class="spancard">ingreso minimo: <b class="pricecard">$15,000</b></p>
                          <h6 
                            class="d-none d-sm-none d-md-none d-lg-block" 
                            style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                            <i class="fa fa-plus-circle"/> 
                            <a 
                              v-b-toggle.collapse2
                              class="btnstyle" 
                              variant="primary">Ver mas Detalles</a>
                          </h6>
                          <span class="starcard d-md-block d-lg-none">
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star-half-o"/>
                            <span style="color:#555;">9.5</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
                      <p class="cali">calificacion 9.5</p>
                      <span class="starcard">
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star-half-o"/>
                      </span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
                      <h6 class="d-lg-none d-md-block">Beneficios</h6>
                      <ul class="beneficios">
                        <li> <i class="fa fa-check comparacolor"/> Obtén $4,000.00 M.N. en Liverpool al adquirirla</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                        <li> <i class="fa fa-check comparacolor"/> Acceso automático al Programa Membership Rewards</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                      </ul>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                      <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
                        Solicitala ahora  <i class="fa fa-chevron-right"/>
                      </button>
                    </div>
                    <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
                      <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse2
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                  </div>
                 
                  <div class="">
                    <b-collapse 
                      id="collapse2" 
                      class="mt-2">
                      <b-card>
                        <p class="card-text">Collapse contents Here</p>
                        <a 
                          v-b-toggle.collapse2_inner 
                          size="sm">Toggle Inner Collapse</a>
                        <b-collapse 
                          id="collapse1_inner" 
                          class="mt-2">
                          <b-card>
                            Hello!
                          </b-card>
                        </b-collapse>
                      </b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card brds">
                  <div 
                    class="alert alert-danger alertgracias" 
                    role="alert">
                    A simple secondary alert—check it out!
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card card-body brd">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
                      <div class="media">
                        <img 
                          src="img/tarjetas_credito/CitiBanamex/clasica.png" 
                          class="mr-3 mt-0" 
                          style="width:130px;">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">
                            <strong class="subtitletarjeta">CitiBanamex</strong>
                          </h6>
                          <h6 class="mb-0">
                            <strong class="mediatarjeta">Clasica</strong>
                          </h6>
                          <p class="spancard">ingreso minimo: <b class="pricecard">$7000</b></p>
                          <h6 
                            class="d-none d-sm-none d-md-none d-lg-block" 
                            style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                            <i class="fa fa-plus-circle"/> 
                            <a 
                              v-b-toggle.collapse3
                              class="btnstyle" 
                              variant="primary">Ver mas Detalles</a>
                          </h6>
                          <span class="starcard d-md-block d-lg-none">
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star-half-o"/>
                            <span style="color:#555;">9.5</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
                      <p class="cali">calificacion 9.5</p>
                      <span class="starcard">
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star-half-o"/>
                      </span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
                      <h6 class="d-lg-none d-md-block">Beneficios</h6>
                      <ul class="beneficios">
                        <li> <i class="fa fa-check comparacolor"/> por tus compras y úsalos para comprar lo que quieras o como dinero en efectivo.</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                        <li> <i class="fa fa-check comparacolor"/> Acceso automático al Programa Membership Rewards</li>
                        <li> <i class="fa fa-check comparacolor"/> 1er año sin costo de Cuota Anual</li>
                      </ul>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                      <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
                        Solicitala ahora  <i class="fa fa-chevron-right"/>
                      </button>
                    </div>
                    <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
                      <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse3
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                  </div>
                 
                  <div class="">
                    <b-collapse 
                      id="collapse3" 
                      class="mt-2">
                      <b-card>
                        <p class="card-text">Collapse contents Here</p>
                        <a 
                          v-b-toggle.collapse1_inner 
                          size="sm">Toggle Inner Collapse</a>
                        <b-collapse 
                          id="collapse1_inner" 
                          class="mt-2">
                          <b-card>
                            Hello!
                          </b-card>
                        </b-collapse>
                      </b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card brds">
                  <div 
                    class="alert alert-danger alertgracias" 
                    role="alert">
                    A simple secondary alert—check it out!
                  </div>
                </div>
              </div>
            </div>
          </b-tab>
          <b-tab>
            <span slot="title">
              <i class="fa fa-plane"/> Viajes
            </span>
            <div class="row">
              <div class="col-12">
                <div class="card card-body brd">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
                      <div class="media">
                        <img 
                          src="img/clasica.png" 
                          class="mr-3 mt-0" 
                          style="width:120px;">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">
                            <strong class="subtitletarjeta">Scotiabank</strong>
                          </h6>
                          <h6 class="mb-0">
                            <strong class="mediatarjeta">Scotia Travel Clásica</strong>
                          </h6>
                          <p class="spancard">ingreso minimo: <b class="pricecard">$5000</b></p>
                          <span class="starcard d-md-block d-lg-none">
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star-half-o"/>
                            <span style="color:#555;">9.5</span>
                          </span>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
                      <p class="cali">calificacion 9.5</p>
                      <span class="starcard">
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star-half-o"/>
                      </span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
                      <h6 class="d-lg-none d-md-block">Beneficios</h6>
                      <ul class="beneficios">
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                      </ul>
                      <h6 
                        class="d-none d-sm-none d-md-none d-lg-block" 
                        style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse1
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                      <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
                        Solicitala ahora  <i class="fa fa-chevron-right"/>
                      </button>
                    </div>
                    <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
                      <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse1
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                  </div>

                  <div class="">
                    <b-collapse 
                      id="collapse1" 
                      class="mt-2">
                      <b-card>
                        <p class="card-text">Collapse contents Here</p>
                        <a 
                          v-b-toggle.collapse1_inner 
                          size="sm">Toggle Inner Collapse</a>
                        <b-collapse 
                          id="collapse1_inner" 
                          class="mt-2">
                          <b-card>
                            Hello!
                          </b-card>
                        </b-collapse>
                      </b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card brds">
                  <div 
                    class="alert alertgracias" 
                    role="alert">
                    A simple secondary alert—check it out!
                  </div>
                </div>
              </div>
            </div>
          </b-tab>
          <b-tab>
            <span slot="title">
              <i class="fa fa-cart-arrow-down"/> Departamentales
            </span>
            <div class="row">
              <div class="col-12">
                <div 
                  v-for="item in Tcredito" 
                  :key="item.nametarjeta" 
                  class="card card-body brd">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12">
                      <div class="media">
                        <img 
                          src="img/clasica.png" 
                          class="mr-3 mt-0" 
                          style="width:120px;">
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">
                            <strong class="subtitletarjeta">{{ item.Banco }}</strong>
                          </h6>
                          <h6 class="mb-0">
                            <strong class="mediatarjeta"> {{ item.nametarjeta }}</strong>
                          </h6>
                          <p class="spancard">ingreso minimo: <b class="pricecard">$5000</b></p>
                          <span class="starcard d-md-block d-lg-none">
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star"/>
                            <i class="fa fa-star-half-o"/>
                            <span style="color:#555;">9.5</span>
                          </span>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-12 d-none d-sm-none d-md-none d-lg-block">
                      <p class="cali">calificacion 9.5</p>
                      <span class="starcard">
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star"/>
                        <i class="fa fa-star-half-o"/>
                      </span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 d-md-block d-sm-block">
                      <h6 class="d-lg-none d-md-block">Beneficios</h6>
                      <ul class="beneficios">
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                        <li> <i class="fa fa-check comparacolor"/> 18 MSI + bonificación de última mensualidad</li>
                      </ul>
                      <h6 
                        class="d-none d-sm-none d-md-none d-lg-block" 
                        style="font-size: 15px;margin-bottom: 0px;color: #777;margin-top: 5px;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse1
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                      <button class="btn btn-block btn-success comparacolorfondo border-0 mt20">
                        Solicitala ahora  <i class="fa fa-chevron-right"/>
                      </button>
                    </div>
                    <div class="col-12 text-center mt-3 d-sm-block d-md-block d-lg-none d-xl-none">
                      <h6 style="font-size: 15px;margin-bottom: 0;color: #777;">
                        <i class="fa fa-plus-circle"/> 
                        <a 
                          v-b-toggle.collapse1
                          class="btnstyle" 
                          variant="primary">Ver mas Detalles</a>
                      </h6>
                    </div>
                  </div>

                  <div class="">
                    <b-collapse 
                      id="collapse1" 
                      class="mt-2">
                      <b-card>
                        <p class="card-text">Collapse contents Here</p>
                        <a 
                          v-b-toggle.collapse1_inner 
                          size="sm">Toggle Inner Collapse</a>
                        <b-collapse 
                          id="collapse1_inner" 
                          class="mt-2">
                          <b-card>
                            Hello!
                          </b-card>
                        </b-collapse>
                      </b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      Tcredito: [
        {
          Banco: 'AmericanExpress',
          nametarjeta: 'American Express Gold',
          ingreso: '15000'
        }
      ],
      Tdepartamental: [
        {
          name: 'apple',
          price: '10'
        },
        {
          name: 'orange',
          price: '12'
        }
      ]
    }
  }
}
</script>
