<template>
  <div>
    <section><!--ingresado por abi-->
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">ComparaYa! más que un experto tu amigo.</h2>
          </div>              
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-2 ">
            <p class="text">En Compara Ya! puedes encontrar toda la información que requieres para que tu decisión sea la más apta a tus necesidades, nos basamos específicamente en el valor que te otorga, lo beneficios que te brinda y te hacemos las recomendaciones objetivas, con las que puedes tomar una mejor decisión, además de que somos la herramienta más efectiva, deja atrás los largos trámites, ahorra tiempo y dinero. Compara Ya te permite comparar cuáles son tus mejores alternativas, para que puedas contratar de manera inmediata.</p>
          </div>
        </div>
        <div 
          class="row m-t"
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0 ">
            <h2 class="borde fuente pb-1 pb-md-3">Tipo de Tarjetas de Crédito sus beneficios y ventajas.</h2>
          </div>
        </div>
        <div 
          class="row" 
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-3 ">
            <p class="text">En Compara Ya! trabajamos con el principal objetivo de presentarte cuáles son las ventajas que ofrecen las Tarjetas de Crédito, además de que es lo que necesitas saber para poder contratarlas; queremos que más mexicanos tengan el acceso a este tipo de financiamientos y que además sepan usarla para sacarle el mayor provecho.</p>
            <p  
              class="text">En Compara Ya tu experto aliado trabajamos de la mano de American Express, CitiBanamex e Invex, para que tengas el mejor respaldo financiero, además de disfrutar de los mejores beneficios y ventajas exclusivas en tarjetas de crédito que ofrecen estas instituciones, atrévete y Compara Ya.</p>
            <p
              class="text">Por ello es que analizamos cúal es tu perfil y posibilidades para que hagas de tu tarjeta de crédito tu principal aliada, con la que hacer tus compras sea toda una experiencia satisfactoria y que además puedas ganar más beneficios que te hagan querer usarla siempre.</p>
            <p
              class="text">Nuestro deber es acercarte a la mejor opción de tu tarjeta de crédito, para que encuentres la que mejor se adapte a tus necesidades, tanto a tu estilo de vida como a tus finanzas personales; conoce más acerca de los diferentes tipos de tarjetas de crédito, para que tu elección sea más fácil.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span> <strong>Tarjetas de Crédito Estándar:</strong> Por lo regular este tipo de tarjeta tiene límites de crédito más bajos, y hasta cierto punto beneficios más limitados que las tarjetas de suscripción y que son diseñadas para otorgar servicios básicos de las tarjetas de crédito.</li>
              <li><span><i class="fa fa-check list"/></span> <strong>Tarjetas de Crédito Premium:</strong> Como un ejemplo de estas tarjetas podemos encontrar las platino, las cuales te ofrecen que tus límites de crédito sean mayores y que por lo general cuentan con ciertas características adicionales, pueden incluir garantías del producto, protección de la compra, seguro para viajero y servicios ante emergencias.</li>
              <li><span><i class="fa fa-check list"/></span> <strong>Tarjetas de Crédito de marca privada:</strong> Este tipo de tarjetas suelen ofrecer ofertas específicas, que sólo pueden ser utilizadas en las en un a o ciertas tiendas de marca destinadas.</li>
              <li><span><i class="fa fa-check list"/></span> <strong>Tarjetas de Crédito de Recompensas:</strong> Con las tarjetas de crédito de recompensas, te ofrecen premios con base en la cantidad de tus compras. Obtienes premios proporcionales a tus compras, estos pueden incluir dinero en efectivo, viajes y tarjetas de regalo. Algunas ofrecen una combinación de éstos como; Estándar, Premium e inclusive tarjetas de marcas privadas como puede ser el caso de las tarjetas departamentales, o también las que te ofrecen recompensas.</li>
              <li><span><i class="fa fa-check list"/></span> <strong>Tarjetas de Crédito de Afinidad:</strong> Estas tarjetas son la muestra de apoyo a un grupo o causa tales como la caridad, un colegio o un equipo deportivo, para algunos casos, las contribuciones de estas tarjetas de crédito se pueden hacer al grupo en el momento que use la tarjeta.</li>
            </ul>
            <p
              class="text">Con respecto a las tarifas y los cargos, estos son una parte fundamental del proceso de decisión, pues de ello la Ley exige que esta información quede clara, visible y concisa en un cuadro de comparación o gráfico en el contrato de la tarjeta de crédito, en el sitio de la tarjeta de crédito o en el correo de la promoción.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="call-to-action mt-3 text-white text-center">
      <div class="overlay" />
      <div class="container">
        <div class="row">
          <div class="col-12 borde2">
            <h1 class="fuente2">¿Cómo encontrar la mejor tarjeta de crédito?</h1>
            <hr class="linea">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid blanco ">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-4 mt-md-4 mt-lg-5 rec">
            <p
              class="text">La Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros o mejor conocido como la Condusef, tiene un proceso de supervisión en materia de transparencia, la cual consiste en verificar que los documentos e información que utilizan las instituciones financieras con cada uno de sus usuarios, antes de su contratación y durante la vida de crédito, estos cumplan con la normatividad aplicable.</p>
            <p
              class="text">En nuestro país poder decir cual es la mejor tarjeta de crédito, consta de dos características, esta debe ser la que mejor se adapte a sus patrones de uso y la que te ofrezca más beneficios que puedas valorar; existen muchas tarjetas de crédito, capaces de ofrecer lo mejor en todos los aspectos, al igual que tus capacidades de pago o financiamiento, esto puede depender de los criterios que utilicemos para evaluar dichos productos.</p>
            <p
              class="text">Por todo esto es importante que primero se conozca el tipo de usuario que eres, que se definas qué es lo que necesitas y posterior a ello puedas tomar una decisión consciente sobre el tipo de tarjeta de crédito que te conviene contratar, puedes comparar en muchas de las opciones ya existentes para que te des una idea de lo que estás buscando y cuáles son las alternativas que mejor se adaptan a tus necesidades.</p>
            <p
              class="text">Para conseguir la mejor tarjeta de crédito, primero se debe tener una visión clara de lo que se está buscando como usuario, como ejemplo de esto simulemos, para una persona que acostumbra pagar el total de su saldo en tarjetas a fin de mes, la tasa de interés puede ser un factor importante, pues en ningún caso pagará intereses por financiamiento y seguramente tenga que centrarse en elegir una tarjeta capaz de ofrecerle mayores recompensas por cada una de sus compras; a diferencia de una madre de familia que piensa en tener una tarjeta con la cual pueda pagar a plazo los muebles de su casa, en donde deberá poner especial atención a que su tarjeta de crédito le cubra esta necesidad.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">¿Qué es lo más importante al contratar una Tarjeta de Crédito?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5">
            <p
              class="text">En la actualidad, todavía los pagos en efectivo son un recurso al que se le puede recurrir al pagar pequeñas cantidades; los pagos de las sumas considerables de dinero se logran hacer ya prácticamente con tarjetas de crédito, por lo que es conveniente saber que es lo que debe tener una tarjeta de crédito y sobre todo cuál es la que más te puede convenir, ello por adaptarse a tus necesidades de pago y de servicio.</p>
            <p
              class="text">Como lo vimos anteriormente para poder determinar cual es la mejor tarjeta de crédito, necesitamos saber las necesidades de cada persona, además de su capacidad de pago con la que pueda cubrir sus gastos y financiamientos, pero para ello primero observemos algunas recomendaciones para que hagas un mejor y correcto uso de tus tarjetas de crédito:</p>
            <ul
              id="check3"
              class="text pl-3">
              <li> <span><i class="fa fa-check list"/></span>El nip o clave de acceso solo debe ser del conocimiento del propietario de la cuenta.</li>
              <li> <span><i class="fa fa-check list"/></span>Es puntual que tu clave sea bien pensada, sin usar las claves comunes o típicas, como por ejemplo fecha de cumpleaños o de aniversarios, menos las series de cuatro números repetidos.</li>
              <li> <span><i class="fa fa-check list"/></span>No prestar la tarjeta, ya que esta es única e intransferible, por tal motivo los pagos que se realicen con ella tú serás el principal responsable de cubrirlos.</li>
              <li> <span><i class="fa fa-check list"/></span>En el momento que acudas al cajero, debes asegurarte de que no haya ningún sospechoso a tu alrededor, debes cerciorarte que el cajero funciona correctamente y algo muy importante, recuerda que al terminar tu operación lleves contigo tu tarjeta.</li>
              <li> <span><i class="fa fa-check list"/></span>Si ocurrió algo inusual o tuviste algún problema con tu operación o plástico, enseguida comunicate con la entidad financiera de tu tarjeta.</li>
            </ul>
            <p class="text">Cada una de las tarjetas de crédito, cuentan con ofertas de servicios bastante diversificados, por lo general estas pueden ofrecerte bonificaciones o recompensas a través de puntos, regalos o descuentos. Las tarjetas de crédito pueden contar con peculiaridades y es que cada una de ellas te va a ofrecer algún tipo de beneficio o ventaja al momento de contratarla, así como algunas tarjetas que manejan clubes o programas de recompensas con los que puedes adquirir más productos o servicios después de realizar algún pago o compra.</p>
            <p class="text">Otro punto importante son los requisitos que cada una pueda tener, pues de ello dependerá la aprobación para que puedan otorgarse, ciertas entidades tienen requisitos mínimos, estos suelen ser con base en los criterios de cada entidad, dentro de los más comunes y dependiendo de la línea de crédito está una edad mínima, los ingresos mensuales superiores o mínimos, historial o antecedentes crediticios y además contar con la aprobación sujeta a las políticas comerciales a los riesgos vigentes a tu solicitud.</p>  
          </div>
        </div>           
      </div>
    </section>
    <a
      id="boton-arriba"
      :href="$store.state.config.prueba"><i class="fa fa-angle-up arrow"/> </a>
  </div>
</template>
<style>
#check2 li {
  list-style: none;
}
#check3 li {
  list-style: none;
}
hr {
  background-color: #dc7901;
}
strong {
  color: #333;
}
.arrow {
  font-size: 40px;
}
.blanco {
  background-color: white;
}
.borde {
  border-bottom: solid #dc7901 4px;
  width: 100%;
  font-weight: bold;
}
.borde2 {
  width: 100%;
  font-weight: bold;
  color: white;
  margin-top: 2%;
}
#boton-arriba {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #00d752;
  background-color: rgba(250, 255, 255, 0.5);
  border: rgba(250, 255, 255, 0.5) solid 1px;
  border-radius: 100%;
  padding: 2px 10px;
}
#boton-arriba:hover {
  background-color: #00d752;
  color: white;
}
.fuente {
  color: #777;
}
.fuente2 {
  font-size: 6vh;
}
.list {
  color: rgb(0, 224, 66);
}
.linea {
  width: 22%;
  height: 1vh;
}
.m-t {
  margin-top: 8vh;
}
.m-t2 {
  margin-top: 4vh;
}
.text {
  font-size: 20px;
}

@media (min-width: 801px) and (max-width: 1100px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -1em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 5vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 4vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 7%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    border-bottom: solid #dc7901 4px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .m-t {
    margin-top: 4vh;
  }
  .text {
    font-size: 16px;
  }
}
</style>

<script>
export default {
  created: function() {
    this.$store.state.config.prueba = '#textprincipal'
  }
}
</script>
