<template>
  <div
    class="container-fluid top-fichas">
    <div class="row m-t2">
      <div 
        class="col-12 col-md-3 col-lg-3 rounded recuadro ml-md-3 ml-lg-5 mr-md-1 mr-lg-2 pt-3 pl-3 pr-3 pt-lg-5">
        <div class="">
          <h2 class="fuente ben">Objetivos</h2>
          <p class="text">Como principios principales INVEX además ofrecer tarjetas de crédito, te brinda diferentes objetivos como:</p>
          <ul
            id="check"
            class="pl-3">
            <li class="text"> <span><i class="fa fa-check list"/></span>Generar alternativas, que sean capaces de encaminarse a obtener grandes resultados para el bienestar de sus clientes, y empleados a través de soluciones de financiamiento diseñados para cada caso en particular. </li>
            <li class="text"><span><i class="fa fa-check list"/></span>INVEX ofrece toda la gama de servicios y soluciones, en cualquiera de sus Centros Financieros, ubicados en las ciudades como la capital (Ciudad de México), Monterrey, Guadalajara, Querétaro, Mérida, Veracruz, Torreón y Miami. </li>
          </ul>
        </div>
        <div class="tarjet2">  
          <img
            src="img/t2.png"
            class="tarjeta-2"
            alt="tarjeta-2">
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8 rounded recuadro  p-3 p-lg-5">
        <h2 class="borde pb-1 pb-md-3">¿Cuáles son las tarjetas de Crédito INVEX? </h2>
        <p class="text">En Compara Ya, somos tu experto aliado, conoce con nosotros cuales son tus necesidades, para que puedas saber que tipo de tarjeta de crédito requieres, así como tu línea de crédito, las facilidades de pago o los plazos para pagar, conoce qué aspectos cubre cada tarjeta de crédito que INVEX ofrece, disfruta hoy, atrévete y Compara Ya. </p>
        <p class="text">INVEX, es un grupo empresarial mexicano que se encarga de generar soluciones especializadas, además de contar con divisiones de Banca Privada, Banca Empresarial, Fiduciario, Tarjetas y Arrendadora e Infraestructura. </p>
        <p class="text">Como una de sus principales misiones INVEX es reconocida como una institución capaz de facilitar el logro de las metas de financiamiento para individuos y empresas líderes en México, para impulsar el desarrollo de nuestro país. </p>
        <p class="text">Además de que INVEX, se catapulta como un Grupo Financiero de los líderes de México, reconocido por su gran labor, y su equipo de expertos, que cuentan con la capacidad de ofrecer las mejores soluciones especializadas en inversión, financiamiento y asesoría. Aunado a todo ello y su capacidad para ofrecer financiamiento otorgando alguna de las tarjetas de crédito INVEX ofrece, esta institución trabaja para:</p>
        <ul 
          id="check"
          class="pl-3">
          <li class="text"> <span><i class="fa fa-check list"/></span> 1.- Demostrar su talento y ponerlo al servicio de las personas que son sus clientes e interesados, trabajando con pasión y entusiasmo en cada una de las tareas que desarrollan y en la actitud ante cada nuevo reto. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 2.-INVEX y sus colaboradores trabajan de una manera positiva, con comunicación, para poder conocer las necesidades de los demás y así ofrecerte un producto a tu medida y necesidad. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 3.-Es una institución práctica, en donde usan el poder de la sencillez en todos sus trabajos, productos y servicios, para que con ello se logre un mejor resultado a través de soluciones simples, estratégicas y cuidadosas. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 4.-Con cada éxito INVEX está firme en encontrar de manera continua, nuevas y mejores maneras de hacer las cosas. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 5.-Es una institución que trabaja con un orden de manera eficaz para poder priorizar las tareas e inversiones del tiempo, adicional en el crecimiento personal de cada cliente. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 6.- INVEX es parte de un patrimonio que como institución cuida a sus activos y sus instalaciones para poder crecer con bases más sólidas y que puedan mantener su rentabilidad. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 7.-Además de ofrecer sus servicios y productos, INVEX actúa de manera honorable en su día a día, para poder distinguirse por su rectitud, honestidad y buen desempeño, logrando una convivencia entre los clientes y la institución. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 8.-INVEX es una empresa que cuida cada uno de los detalles para con ello poder brindar un servicio de primer nivel a cada uno de sus clientes y colaboradores de trabajo.</li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 9.-Además de generar un mejor impulso para brindar lo mejor, y buscar nuevas estrategias de superación y aprendizaje. </li>
          <li class="text"> <span><i class="fa fa-check list"/></span> 10.-Cada uno de los colaboradores de INVEX son parte virtual de una institución, como sus principales objetivos INVEX forma parte de un camino a seguir. A través de trabajo, ideas y propuestas para poder construir la esencial y de éxito para la empresa. </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
#check li {
  list-style: none;
}
.ben {
  text-align: center;
  font-weight: bold;
}
.beneficios {
  padding: 20px;
}
.fuente {
  color: #777;
}
.list {
  color: #a60134 !important;
}
.borde {
  border-bottom: solid #a60134 4px !important;
  width: 80%;
  font-weight: bold;
  color: #777;
}
.recuadro {
  background: white;
  margin: 1vh;
  font-size: 13px;
  padding: 2%;
}
.tarjet2 {
  text-align: center;
  background-color: #a60134 !important;
  padding: 6% 0%;
  display: inline-block;
  width: 100%;
}
.tarjeta-2 {
  width: 80%;
  margin: 10px 0px 0px 0px;
}
.text {
  font-size: 20px;
}
.top-fichas {
  /*margin-top: -14em;*/
}
@media (min-width: 801px) and (max-width: 1100px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /*margin-top: -12%;*/
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -12%;*/
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -20%;*/
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -13%;*/
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -30%;*/
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -15%;*/
  }
}
</style>
