<template>
  <div class="row sm-p">
    <div class="col-12 col-md-2 offset-0 offset-md-1  t-p1 vist-c">
      <div class="row sm-p">
        <div 
          class="col-6 col-md-12" 
          style="text-align:center;">
          <img
            class="tarjeta" 
            src="img/logos-bancos/invex-tarjetas-logo.svg"
            alt="tarjeta">
        </div>
        <div class="col-6 col-md-12 offset-0">
          <p class="inf-cal"><span class="cal">4.5</span> 16 rewiev</p>
          <div class="star">
            <span><i class="fa fa-star"/></span>
            <span><i class="fa fa-star"/></span>
            <span><i class="fa fa-star"/></span>
            <span><i class="fa fa-star"/></span>
            <span><i class="fa fa-star-half-o"/></span>
          </div>
        </div>
      </div>
    </div>
    <div 
      id="formulario"
      class="col-12 col-md-8 formulario p0">
      <!--<div class="col-12 mt-2 padd0"><p class="mb-1 textform">Datos personales:</p></div>-->
      <b-form @submit.prevent="onSubmit">
        <div class="row sm-p">
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 mbmovile">
            <b-form-group
              id="exampleInputGroup1"
              :class="{'has-error': errors.has('nombre') }"
              label-for="exampleInput2">
              <b-form-input
                v-validate="'required'"
                id="nombre"
                v-model="form.nombre"
                type="text"
                name="nombre"
                placeholder="Nombre (s)"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('nombre')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('nombre') }} </i></small>
            </b-form-group>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mbmovile">
            <b-form-group
              id="exampleInputGroup2"
              :class="{'has-error': errors.has('apellidoPaterno') }"
              label-for="exampleInput2">
              <b-form-input
                v-validate="'required'"
                id="apellidoPaterno"
                v-model="form.apellidoPaterno"
                name="apellidoPaterno"
                type="text"
                placeholder="Apellido Paterno"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('apellidoPaterno')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('apellidoPaterno') }}</i></small>
            </b-form-group>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mbmovile">
            <b-form-group
              id="exampleInputGroup3"
              :class="{'has-error': errors.has('apellidoMaterno') }"
              label-for="exampleInput2">
              <b-form-input
                v-validate="'required'"
                id="aMaterno"
                v-model="form.apellidoMaterno"
                type="text"
                name="apellidoMaterno"
                placeholder="Apellido Materno"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('apellidoMaterno')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('apellidoMaterno') }}</i></small>
            </b-form-group>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 mbmovile">
            <b-form-group
              id="exampleInputGroup4"
              :class="{'has-error': errors.has('email') }"
              label-for="exampleInput2">
              <b-form-input
                v-validate="'required'"
                id="email"
                v-model="form.email"
                name="email"
                type="email"
                placeholder="email"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('email')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('email') }}</i></small>
            </b-form-group>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mbmovile">
            <b-form-group
              id="exampleInputGroup5"
              :class="{'has-error': errors.has('rfc') }"
              label-for="exampleInput1">
              <b-form-input
                v-validate="'required|alpha_num|length:13'"
                id="rfc"
                v-model="form.rfc"
                type="text"
                name="rfc"
                placeholder="RFC"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('rfc')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('rfc') }}</i></small>
            </b-form-group>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mbmovile">
            <b-form-group
              id="exampleInputGroup6"
              :class="{'has-error': errors.has('telefono') }"
              label-for="exampleInput1">
              <b-form-input
                v-validate="'required|digits:10'"
                id="telefono"
                v-model="form.telefono"
                type="number"
                name="telefono"
                placeholder="Teléfono"
                class="custominput formulario_input"/>
              <small
                v-if="errors.has('telefono')"
                class="text-danger"><i class="fa fa-exclamation-triangle">{{ errors.first('telefono') }}</i></small>
            </b-form-group>
          </div>
        </div>
        <div class="row sm-p mt-3">
          <div class="col-12 col-sm-12 col-md-6 txtmovile">
            <div class="custom-control custom-checkbox ml-2 moviletext">
              <input
                id="customCheck1"
                type="checkbox"
                class="custom-control-input" 
                checked="">
              <label 
                class="custom-control-label" 
                for="customCheck1">
                <a 
                  href="#" 
                  style="text-decoration:none!important;color:#888" 
                  data-target="#exampleModal" 
                  data-toggle="modal"> Acepto el <strong>aviso de privacidad</strong></a>
              </label>
            </div>
            <div
              id="exampleModal" 
              class="modal fade" 
              tabindex="-1" 
              role="dialog" 
              aria-labelledby="exampleModalLabel" 
              aria-hidden="true">
              <div 
                class="modal-dialog" 
                role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      id="exampleModalLabel"
                      class="modal-title">Aviso de Privacidad
                    </h5>
                    <button 
                      type="button" 
                      class="close" 
                      data-dismiss="modal" 
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button 
                      type="button" 
                      class="btn btn-secondary" 
                      data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 mb-0">
            <b-button
              type="submit"
              class="btncotiza btn-block btn-succe ss b-v btn btn-md mb-0 mr-2"
              variant="pr imary">Enviar Solicitud
            </b-button>
          </div>
        </div>
      </b-form> 
    </div>
  </div>
</template>
<style>
.b-v {
  background: #00d752;
  color: white;
}
.b-v:hover {
  background: #099c41;
  color: white;
}
.sm-p {
  margin: 0px;
  padding: 0px;
}
.cal {
  color: #a60134;
  text-align: center;
  margin: 0px;
}
.custominput {
  border-bottom: 2px solid #a60134 !important;
  border: none;
  color: #888;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #a60134 !important;
}
.inf-cal {
  text-align: center;
  margin-bottom: 0px;
  color: #777;
}
.formulario {
  background-color: white;
  padding: 2% 2%;
}
.star {
  color: #dc7901;
  text-align: center;
}
.tarjeta {
  width: 100%;
  margin: 35px 0px 10px 0px;
}
.t-p1 {
  background-color: white;
  padding: 0% 0%;
}
@media (min-width: 801px) and (max-width: 1100px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
  }
  .star {
    color: #dc7901;
    text-align: center;
    font-size: 15px;
  }
  .tarjeta {
    width: 120%;
    margin: 40px 0px 0px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
  }
  .star {
    color: #dc7901;
    text-align: center;
    font-size: 15px;
  }
  .tarjeta {
    width: 125%;
    margin: 70px 0px 0px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 8%;
  }
  .tarjeta {
    width: 80%;
    margin: 10px 0px 0px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
    height: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 8%;
  }
  .tarjeta {
    width: 130%;
    margin: 10px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
    height: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 8%;
  }
  .tarjeta {
    width: 125%;
    margin: 15px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
    height: 100%;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .inf-cal {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 8%;
  }
  .tarjeta {
    width: 125%;
    margin: 15px 0px;
  }
  .t-p1 {
    padding: 0% 0%;
    height: 100%;
  }
}
</style>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      form: {
        nombre: '',
        apellidoPaterno: '',
        apellidoMaterno: '',
        rfc: '',
        telefono: '',
        email: ''
      },
      show: true
    }
  },
  created() {
    this.form.email = ''
    this.form.nombre = ''
    this.form.rfc = ''
    this.form.telefono = ''
    this.apellidoPaterno = ''
    this.apellidoMaterno = ''
  },
  created: function() {
    this.$store.state.config.img = ''
  },
  methods: {
    onSubmit(evt) {
      this.$validator.validate().then(valid => {
        if (valid) {
          axios
            //.post('https://ahorraseguros.mx/servicios/ahorra-credit', this.form)
            .post(
              //'http://192.168.10.61:8090/servicios/ahorra-credit',
              'https://ahorraseguros.mx/servicios/ahorra-credit',
              this.form
            )
            .then(this.$router.push('/gracias'))
            .catch(error => {
              console.log(error)
              console.log(this.form)
            })
          console.log(this.form)
        }
      })
    }
  }
}
</script>
