<template>
  <div>
    <section><!--ingresado por abi-->
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">Tipos de Tarjetas de Crédito INVEX</h2>
          </div>              
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-2 ">
            <p class="text">Conocer cuáles son tus necesidades es algo primordial de saber, pues con ello estarás atento a los beneficios que una institución debe ofrecerte para que elijas una tarjeta de crédito con ellos, además de las capacidades de pago que demuestres ante este tipo de productos, logrando que tu nueva tarjeta de crédito INVEX se convierta en tu respaldo financiero; podrás hacer compras y pago de servicios con tu tarjeta, para que estas te den más, recibe recompensas y premios con cada una de ellas. </p>
            <p class="text">De los 17 millones 290 mil tarjetas de crédito que existen en nuestro país, hay algunos plásticos que han ido tomando mayor fuerza, si bien sea por los beneficios que ofrecen o por los mismos que suelen ser diferentes a los que son otorgados como productos de los bancos de siempre.</p>
            <p class="text">Uno de los ejemplos característicos de las tarjetas de crédito INVEX, ya que estas se inclinan por una institución con la que pueden obtener ventajas y beneficios que con ninguna otra recibirán, si aún no sabes cuál es la tarjeta que más te conviene, busca los beneficios y la popularidad que has adquirido en los últimos años. </p>
            <p class="text">1.-Tarjeta de Crédito Volaris INVEX V2.0 </p>
            <ul
              id="check2"
              class="text pl-3">
              <li class="text"><span><i class="fa fa-check list"/></span>Es una tarjeta de crédito que bien puede presentarse como una evolución de la anterior, pues está dirigida a los viajeros que son experimentados o que desean cubrir cada uno de los aspectos que se presentan a lo largo de un viaje. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Contarás con una bonificación del 15% en compra de alimentos a bordo. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Puedes acumular el 2% de las compras en tu Monedero Volaris. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Acceso a más de 800 salas VIP en los aeropuertos en más de 120 países a través de Priority Pass y al salón VIP Grand Lounge del aeropuerto de la Ciudad de México.</li> 
            </ul>
            <p class="text">La anualidad, es de $2,250, tampoco deberá pagarse durante el primer año, o por consiguiente, el titular tendrá la posibilidad a su alcance de Club de Descuentos del banco y dos bonos diferentes.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li class="text"><span><i class="fa fa-check list"/></span>Bono de $2,150 en el momento que actives tu tarjeta y gastes $2,150 en los primeros tres meses.</li>
              <li class="text"><span><i class="fa fa-check list"/></span>Bono de aniversario por $1,000 en Monedero Volaris al momento que renueves tu tarjeta.</li>
            </ul>
            <p class="text">2.- Tarjeta de Crédito Volaris INVEX: es un producto de la familia INVEX que se cataloga como uno de los más conocidos, ya que al estar co-emitida con Volaris, se te reembolsa el 1.5% de cada una de las compras hechas; este porcentaje se puede almacenar en el Monedero Volaris, para poder cubrir el costo total o parcial de los boletos adquiridos en la aerolínea. </p>
            <p class="text">Está completamente dirigida para los amantes de los viajes, ya que como viajeros frecuentes en Volaris, la tarjeta les permite diferir las compras en Volaris hasta por 3, 6, y 11 meses sin intereses, esto sin importar la época del año o si hay una promoción vigente. En cualquier compra en el extranjero, sin la necesidad de que esté relacionada con las aerolíneas, esta podrá diferirla a 6 meses sin intereses. </p>
            <p class="text">También estarás exento de pagar la primera anualidad, además de que obtienes 10 kgs extra en tu equipaje, con acceso a Salón Grand Lounge y 30% de descuento en el estacionamiento del aeropuerto; una vez que tu solicitud haya sido aprobada y gastes $1,300 en los primeros meses, puedes recibir un Bono de Bienvenida por $1,300 pesos. </p>
            <p class="text">Este es un producto de INVEX más reciente, con el cual se dirige a personas que desean bajar el costo de sus boletos de avión a través de sus compras diarias y de los diferentes beneficios a la hora que viajes en una aerolínea como Volaris con el acceso prioritario, equipaje adicional sin costo etc. Dentro de sus beneficios más relevantes encontramos:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li class="text"><span><i class="fa fa-check list"/></span>Bono de bienvenida de $600 en tu Monedero Volaris al activar la tarjeta y otro bono de $300 pesos al cumplir un año con tu plástico. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Sin anualidad siempre y cuando realices, por lo menos, un cargo mensual con ella.</li>
              <li class="text"><span><i class="fa fa-check list"/></span>Obtén un reembolso del 1% de cada una de las compras que realices en tu Monedero Volaris. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Logra obtener 3, 6 y 11 meses sin intereses por cada una de tus compras en Volaris. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>10 KGS extra para ti equipaje de mano, esto primordial al abordaje, 1 maleta documentada sin costo extra en la Tarifa Regular y con una bonificación del 15% en las compras de alimentos a bordo. </li>
            </ul>
            <p class="text">4.-Tarjetas de Crédito INVEX Manchester United: Es una tarjeta de crédito de la familia INVEX que está destinada para todos los seguidores que desean llevar al siguiente nivel con el fin de privilegiar a todos los que gusten del equipo de fútbol inglés de Manchester United y que, al mismo tiempo, quieren recibir recompensas por cada una de sus compras diarias. </p>
            <p class="text"> Una vez que haya sido aprobado, de manera inmediata quedarás suscrito al programa de puntos del banco. Recibe recompensas Select, por cada compra en moneda nacional que hayas generado. De los puntos como ejemplo de 1 por cada $10 pesos gastados, lo que significa que esta es una ventaja ante otro tipo de programas de lealtad. </p>
            <ul
              id="check2"
              class="text pl-3">
              <li class="text"><span><i class="fa fa-check list"/></span>Con tus recompensas Select puedes redimir los Puntos por certificados de regalo, artículos de catálogo, boletos de avión, e inclusive con paquetes vacacionales. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>Si lo que deseas es un plástico que te beneficie en el extranjero en tus compras a meses sin interés, con esta es posible pues ofrece 6 meses sin intereses en las compras mayores a $1,000. </li>
              <li class="text"><span><i class="fa fa-check list"/></span>El titular de la cuenta puede tener acceso a Experiencias Manchester con descuentos en la tienda digital del equipo, con productos exclusivos, eventos especiales además de la oportunidad de que tu plástico sea utilizado el primer año sin tener que pagar la anualidad. </li>
            </ul>
          </div>
        </div>
        <div 
          class="row m-t"
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0 ">
            <h2 class="borde fuente pb-1 pb-md-3">Requisitos para tramitar tu Tarjeta de Crédito INVEX</h2>
          </div>
        </div>
        <div 
          class="row" 
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-3 ">
            <p>Poder tramitar tu tarjeta de crédito más rápido, seguro y confiable ya es posible, solo tienes que atreverte y Compara Ya, conocer las ventajas, los beneficios, plazos de pago es algo que debemos saber antes de adquirir una tarjeta, sin embargo, otro punto muy importante es conocer cuáles son los requisitos de este tipo de tarjetas, ya que dependiendo de la que elijas serán los requisitos y trámites con los que debas cumplir. </p>
            <ul
              id="check2"
              class="text pl-3">
              <li> <span><i class="fa fa-check list"/></span>Contar con alguna otra tarjeta bancaria o departamental, por lo regular tu línea de crédito debe ser mayor a $15,000 pesos, sin embargo, dependiendo de la tarjeta que elijas esto puede variar. </li>
              <li><span><i class="fa fa-check list"/></span>Tener una edad entre 18 y 69 años con 11 meses. </li>
              <li><span><i class="fa fa-check list"/></span>No tener mala calificación crediticia, ni atrasos ni sobregiros en ningún crédito.</li>
              <li><span><i class="fa fa-check list"/></span>Comprobante de domicilio vigente, no mayor a tres meses. </li>
              <li><span><i class="fa fa-check list"/></span>Identificación oficial vigente, INE o IFE, pasaporte, cartilla etc.</li>
              <li><span><i class="fa fa-check list"/></span>Solicitud firmada. </li>
            </ul>  
          </div>
        </div>
      </div>
    </section>
    <section class="call-to-action mt-3 text-white text-center">
      <div class="overlay" />
      <div class="container">
        <div class="row">
          <div class="col-12 borde2">
            <h1 class="fuente2">Compara Ya mí experto aliado en tarjetas de crédito</h1>
            <hr class="linea">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid blanco ">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-4 mt-lg-5 rec">
            <p class="text">Sabemos que adquirir una tarjeta de crédito es una decisión importante, ya que esta se convertirá en tu respaldo en las próximas compras, además de facilitarte los pagos y compras de productos o servicios, por todo esto es que en Compara Ya nos encargamos de analizar los factores importantes que necesitas saber para que tu tarjeta de crédito sea la correcta y adecuada. </p>
            <p class="text">Conoce más las tarjetas de crédito INVEX y comienza a disfrutar de sus beneficios y ventajas que ofrece, atrévete hoy y Compara Ya tu experto aliado. </p>  
          </div>
        </div>
      </div>
    </section>
    <a
      id="boton-arriba"
      :href="$store.state.config.prueba" ><i class="fa fa-angle-up arrow"/> </a>
  </div>
</template>
<style>
#check2 li {
  list-style: none;
}
#check3 li {
  list-style: none;
}
hr {
  background-color: #a60134 !important;
}
strong {
  color: #333;
}
.arrow {
  font-size: 40px;
}
.blanco {
  background-color: white;
}
.borde {
  border-bottom: solid #a60134 4px !important;
  width: 100%;
  font-weight: bold;
}
.borde2 {
  width: 100%;
  font-weight: bold;
  color: white;
  margin-top: 2%;
}
#boton-arriba {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #00d752;
  background-color: rgba(250, 255, 255, 0.5);
  border: rgba(250, 255, 255, 0.5) solid 1px;
  border-radius: 100%;
  padding: 2px 10px;
}
#boton-arriba:hover {
  background-color: #00d752;
  color: white;
}
.fuente {
  color: #777;
}
.fuente2 {
  font-size: 6vh;
}
.list {
  color: rgb(0, 224, 66);
}
.linea {
  width: 22%;
  height: 1vh;
}
.m-t {
  margin-top: 8vh;
}
.m-t2 {
  margin-top: 4vh;
}
.text {
  font-size: 20px;
}

@media (min-width: 801px) and (max-width: 1100px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -1em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 6vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 4vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 8%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 2vh;
  }
  .text {
    font-size: 16px;
  }
}
</style>

<script>
export default {
  created: function() {
    this.$store.state.config.prueba = 'invex#invex-formulario'
  }
}
</script>
