<template>
  <div class="container-fluid">
    <div class="row sm-p">
      <div 
        class="col-12 iconos ">
        <div class="row">
          <div class="col-4 center">
            <img 
              src="img/invoice.svg"
              class="icon">
            <span class="text-icon"> Mínimos requisitos</span> 
          </div>
          <div class="col-4 center">
            <img
              src="img/list.svg"
              class="icon"> 
            <span class="text-icon"> Compara Fácil y Rápido</span>
          </div>
          <div class="col-4 center">
            <img 
              src="img/payment.svg"
              class="icon"> 
            <span class="text-icon"> 100% Transparente</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.icon {
  width: 10%;
}
.iconos {
  margin-top: 1em;
  background: none;
  color: white;
  font-size: 28px;
}
.text-icon {
  display: block;
}
@media (min-width: 1870px) {
  .iconos {
    background: none;
    color: white;
    font-size: 28px;
  }
}
@media (min-width: 769px) and (max-width: 1100px) {
  .icon {
    width: 10%;
  }
  .iconos {
    font-size: 18px;
  }
}
@media (min-width: 661px) and (max-width: 768px) {
  .icon {
    width: 10%;
  }
  .iconos {
    font-size: 18px;
  }
}
@media (min-width: 426px) and (max-width: 660px) {
  .icon {
    width: 30%;
  }
  .iconos {
    font-size: 12px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .icon {
    width: 50%;
  }
  .iconos {
    font-size: 12px;
  }
  .text-icon {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .icon {
    width: 50%;
  }
  .iconos {
    font-size: 12px;
  }
  .text-icon {
    display: block;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .icon {
    width: 50px;
  }
  .iconos {
    font-size: 12px;
  }
  .text-icon {
    display: block;
  }
}
</style>
