<template>
  <div
    class="container-fluid top-fichas">
    <div class="row m-t2">
      <div 
        class="col-12 col-md-3 col-lg-3 rounded recuadro ml-md-3 ml-lg-5 mr-md-1 mr-lg-2 pt-3 pt-lg-5"
        style="padding:0px;">
        <div class="">
          <h2 class="fuente ben">Tipos de Tarjetas</h2>
          <ul
            id="check2"
            class="text pl-3">
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito Clásica Banamex.</li>
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito Oro de CitiBanamex.</li>
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito CitiBanamex Platinum.</li>
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito Bsmart CitiBanamex.</li>
            <li><span><i class="fa fa-check list"/></span>Garantía en casi todas las compras que realices.</li>
          </ul>
          <p class="text">Tipos de tarjetas de Crédito de Tiendas Departamentales.</p>
          <ul
            id="check2"
            class="text pl-3">
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito Affinity Card Banamex.</li>
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito The Home Depot CitiBanamex.</li>
            <li><span><i class="fa fa-check list"/></span>Tarjeta de Crédito Office Depot CitiBanamex.</li>
          </ul>
        </div>
        <div class="tarjet2">  
          <img
            src="img/tarjetas_credito/banamex-clasica.png"
            class="tarjeta-2"
            alt="tarjeta-2">
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8 rounded recuadro  p-3 p-lg-5">
        <h2 class="borde pb-1 pb-md-3">¿Cuáles son la tarjetas de Crédito CitiBanamex?</h2>
        <p class="text">En Compara Ya, encuentra la tarjeta de crédito CitiBanamex que mejor se adapte a tus necesidades, la tarjeta que sea más que tu respaldo financiero sea tu aliada, como conseguirlo, es muy sencillo, con nosotros conoce cuál es tu capacidad de pago, tu línea de crédito, y sobre todo los beneficios que son indispensables que cuente tu próxima tarjeta de crédito, atrévete a conocer todas las opciones que tienes Compara Ya y empieza con tu trámite.</p>
        <p class="text">CitiBanmex te ofrece 20 alternativas de tarjetas de crédito con las que puedes contar, estas están clasificadas en Tarjetas de Crédito CitiBanamex Básica, Tarjetas de Crédito CitiBanamex Clásica, Tarjetas de Crédito CitiBanamex Oro, Tarjetas de Crédito Citi Banamex Platinum.</p>
        <p class="text">La tarjetas de Crédito de CitiBanamex suelen manejar anualidades que pueden ir desde los $0.00 pesos hasta $2,200 pesos según la tarjeta y la tasa de interés anual de entre el 38.32% y 55.32% esto es variable conforme a la tarjeta y tu línea de crédito. Asimismo, las tarjetas de crédito CitiBanamex te brinda acceso a promociones y descuentos según la temporada en diversos establecimientos en nuestra país y en el extranjero, además de algunas tarjetas de crédito pueden incluir el programa de recompensas, puntos, descuentos, reembolso etc.</p>
        <p class="text">Por lo que te recomendamos contar con un historial limpio en el buró de crédito, además de cubrir los ingresos mínimos requeridos, puedes entrar Compara Ya con nosotros los requisitos y comisiones más importantes de las diferentes tarjetas de crédito CitiBanamex como los ingresos mensuales, el pago mínimo, la anualidad, tasa de interés, entre otros aspectos importantes; de la misma manera puedes consultar los beneficios extra o adicionales de cada una de las tarjetas, pues te pueden ofrecer puntos, descuentos en diferentes establecimientos, millas de vuelo acumulablres en todos tus viajes y demas.</p>
        <p class="text">Otro punto importante para que contrates una tarjeta de crédito es que debes conocer y comparar el CAT entre diferentes tarjetas, con la que puedas obtener la que más se adecue a tus necesidades y posibilidades económicas, para ello fijate primordialmente en la tasa de interés y en la anualidad. Con CitiBanamex puedes conseguir tarjetas de crédito para viajes, tarjetas con beneficios en tus tiendas favoritas, tarjetas que dan puntos por tus compras y más.</p>
        <p class="text">Las tarjetas de crédito son muy populares ya que estas te pueden permitir a cada una de las personas que realicen sus compras sin que cuenten con el efectivo, adempas de que te brindan la posibilidad de adquirir pagando a meses o plazos. En CitiBanamex puedes contar con la tarjeta adecuada para cada una de tus necesidades estas pueden ir desde las necesidades que tengas de compra, de pago o para un respaldo en cada uno de tus viajes.</p>
        <p class="text">Además de encontrar tarjetas que ofrecen diferentes beneficios, premios y recompensas como preventas para eventos exclusivos, promociones exclusivas y compras en preventa antes que todos.</p>
      </div>
    </div>
  </div>
</template>
<style>
#check li {
  list-style: none;
}
.ben {
  text-align: center;
  font-weight: bold;
}
.beneficios {
  padding: 20px;
}
.fuente {
  color: #777;
}
.list {
  color: #014a8b !important;
}
.borde {
  border-bottom: solid #014a8b 4px !important;
  width: 80%;
  font-weight: bold;
  color: #777;
}
.recuadro {
  background: white;
  margin: 1vh;
  font-size: 13px;
  padding: 2%;
}
.tarjet2 {
  text-align: center;
  background-color: #014a8b;
  padding: 6% 0%;
  display: inline-block;
  width: 100%;
}
.tarjeta-2 {
  width: 80%;
  margin: 10px 0px 0px 0px;
}
.text {
  font-size: 20px;
}
.top-fichas {
  /*margin-top: -14em;*/
}
@media (min-width: 1870px) {
}
@media (min-width: 801px) and (max-width: 1100px) {
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 1vh;
    font-size: 13px;
  }
  .text {
    font-size: 12px;
  }
  .top-fichas {
    /*margin-top: -12%;*/
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -12%;*/
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -30%;*/
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -13%;*/
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -30%;*/
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .recuadro {
    background: white;
    margin: 0vh;
    font-size: 13px;
  }
  .tarjet2 {
    text-align: center;
    background-color: black;
    padding: 6% 0%;
    display: none;
  }
  .tarjeta-2 {
    width: 60%;
    margin: 10px 0px 0px 0px;
  }
  .text {
    font-size: 16px;
  }
  .top-fichas {
    /*margin-top: -10%;*/
  }
}
</style>
