<template>
  <div>
    <section><!--ingresado por abi-->
      <div class="container-fluid m-t">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0">
            <h2 class="borde fuente pb-1 pb-md-3">Tipos de Tarjetas de Crédito de CitiBanamex.</h2>
          </div>              
        </div>
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-2 ">
            <p class="text">En la institución bancaria que representa CitiBanamex puedes encontrar diferentes tipos de tarjetas de crédito, esto puede depender de para que las necesites y sobre todo como las quieras utilizar, además de los diferentes beneficios a los que tienes acceso, pues muchos de los que deseas o tienes en mente puedes cubrirlos con tu nueva tarjeta de crédito.</p>
            <p class="text">Muchas de las tarjetas de crédito que ofrece CitiBanamex ofrece que puedas acumular puntos, tarjetas con beneficios en tiendas, tarjetas con ventajas en Autoservicios, tarjetas con beneficios para tus próximos viajes, tarjetas con beneficios en deportes y tarjetas con beneficios en asociaciones. A lo largo de este podrás encontrar las diferentes características y los beneficios de cada una de las tarjetas, así como el CAT promedio y de la comisión anual, pero antes de que elijas cualquiera de estas tarjetas tendremos que analizar las diferentes comisiones que tienen, para que con ello puedas solicitar tu tarjeta en Compara Ya.</p>
            <p class="text">Tarjeta de Crédito Clásica Banamex:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Fecha de pago Clásica, podrás elegir el día que deseas pagar.</li>
              <li><span><i class="fa fa-check list"/></span>Puntos Premia, todas tus compras acumulan Puntos Premia del 5% en todas tus compras y 7% en gasolina, TV de paga, gimnasios, telefonía fija y telefonía móvil.</li>
              <li><span><i class="fa fa-check list"/></span>Miércoles Clásicos, los miercoles acumularas más Puntos Premia en negocios participantes hasta el 50% de tus compras en Puntos Premia.</li>
              <li><span><i class="fa fa-check list"/></span>Momentos Clásica, al pagar con tu Tarjeta Clásica CitiBanamex ya que podrás comprar tus boletos antes que nadie, además de tener el mejor lugar para tus eventos, desde culturales, deportivos y otros espectáculos en México.</li>
              <li><span><i class="fa fa-check list"/></span>Gastos de Salud, pagalos a meses con tu Tarjeta Clásica de CitiBanamex.</li>
              <li><span><i class="fa fa-check list"/></span>CAT promedio de 45.% sin IVA.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión Anual de $600 sin IVA.</li>
            </ul>

            <p class="text">Tarjeta de Crédito Oro de CitiBanamex.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Puntos Premia, este te permite cambiar tus puntos por lo que a ti te gusta, ya que se convierten en dinero en efectivo.</li>
              <li><span><i class="fa fa-check list"/></span>Certificados Oro: con este tipo de programas recompensa tus compras con un porcentaje de reembolso con el que puedes recibir en tu casa, por montos de dinero en efectivo o que puedas usar como descuento en tus siguientes compras.</li>
              <li><span><i class="fa fa-check list"/></span>Tasa 0% en Salud y Viajes, con la Tarjeta de Crédito Oro podrás disfrutar de 3 a 6 meses sin intereses en cada uno de tus gastos que hagas con tu tarjeta de crédito ya sea en hoteles, agencias de viaje, líneas aéreas, hospitales, autobuses, médicos farmacias independientes, clínicas de salud y belleza así como el algunos laboratorios.</li>
              <li><span><i class="fa fa-check list"/></span>Experiencias Oro, contarás con beneficios para tu tarjeta de Crédito Oro.</li>
              <li><span><i class="fa fa-check list"/></span>Puedes tener tu paquete CitiBanamex este te devuelve una parte de la anualidad de tu tarjeta de crédito por realizar compras de un importe mínimo de $1,000 la més.</li>
              <li><span><i class="fa fa-check list"/></span>CAT Promedio del 41.2% sin IVA.</li>
            </ul>

            <p class="text">Tarjeta de Crédito CitiBanamex Platinum:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Puntos Premia, con este programa de recompensas por tus compras.</li>
              <li><span><i class="fa fa-check list"/></span>Beneficios Aeroméxico, tu tarjeta de crédito platinum ofrece el 15% de descuento en boletos de avión de Aeroméxico.</li>
              <li><span><i class="fa fa-check list"/></span>Tasa preferencial Platinum con un programa para que puedas disminuir la tasa de interés de tu Tarjeta de Crédito Platinum CitiBanamex hasta TIIE+15%.</li>
              <li><span><i class="fa fa-check list"/></span>Centro de Atención Telefónica, VIP esta es una exclusividad de beneficio de tu Tarjeta Platinum CitiBanamex, con la que te responderán de manera personal a tus aclaraciones como reporte por robo o extravío, para los pagos de tus servicios y en la consulta de saldos y movimientos.</li>
              <li><span><i class="fa fa-check list"/></span>Concierge nacional e internacional, con atención los 365 días del año en viajes, regalos, información de entretenimiento y servicios especiales.</li>
              <li><span><i class="fa fa-check list"/></span>Paquete de CitiBanamex, con el que te pueden devolver parte de la anualidad de tu tarjeta de crédito.</li>
              <li><span><i class="fa fa-check list"/></span>CAT promedio del 23.4% sin IVA.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión anual de $2,000 sin IVA.</li>
            </ul>

            <p class="text">Tarjeta de Crédito Bsmart CitiBanamex.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Puedes contar con mayor seguridad, tu tarjeta Bsmart de CitiBanamex es MasterCard, PayPass.</li>
              <li><span><i class="fa fa-check list"/></span>Puntos Premia, con estos tipos de programa podrás permitirte para cambiar tus puntos por dinero en efectivo.</li>
              <li><span><i class="fa fa-check list"/></span>Programa de beneficios B Smart Smart Checks, recibe cupones de descuento de los lugares que más frecuentas, Smart Weeks con promociones de temporada en lugares de modo y Smartes cada día martes tendrás acceso a promociones exclusivas.</li>
              <li><span><i class="fa fa-check list"/></span>Paquete CitiBanamex, con la que te devuelven la anualidad de tu tarjeta de crédito.</li>
              <li><span><i class="fa fa-check list"/></span>CAT Promedio del 45.5% sin IVA.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión Anual $600 sin IVA.</li>
            </ul>
          </div>
        </div>
        <div 
          class="row m-t"
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-md-0 ">
            <h2 class="borde fuente pb-1 pb-md-3">Compara Ya, los tipos de tarjetas de Crédito CitiBanamex de Tiendas Departamentales.</h2>
          </div>
        </div>
        <div 
          class="row" 
          style="margin-right: 0px;">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 pl-3 ">
            <p class="text">También puedes contar con tarjetas que te ofrecen beneficios en tiendas.</p>
            <p class="text">Dentro de las tarjetas con beneficios en tiendas de CitiBanamex puedes encontrar las Tarjetas de Crédito Affinity Card, Tarjeta de Crédito The Home Depot, Tarjeta de Crédito Office Depot y la Tarjeta de Crédito Best Buy.</p>
            
            <p class="text">Tarjeta de Crédito Affinity Card Banamex:</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Pagos a 3 meses sin intereses en compras mínimas de $1,000 pesos en las tiendas participantes del grupo Inditex en México, como Zara, Pull&Bear, Massimo Dutti, Bershka,Stradivarius, Oysho, Zara Home y Uterqüe.</li>
              <li><span><i class="fa fa-check list"/></span>10% de descuento en tu primera compra en las mismas tiendas.</li>
              <li><span><i class="fa fa-check list"/></span>Programa de Recompensa Premia de CitiBanamex, la que se acumula con un 5% en los Puntos Premia como recompensa por todas las compras y que las utilices como dinero en efectivo.</li>
              <li><span><i class="fa fa-check list"/></span>CAT Promedio de 44.3% sin IVA.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión anual de $600 sin IVA.</li>
            </ul>

            <p class="text">Tarjeta de Crédito The Home Depot CitiBanamex.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Meses sin intereses disfruta de 6 meses sin intereses en todas las compras que hagas en la tienda.</li>
              <li><span><i class="fa fa-check list"/></span>Programa de Recompensas con la que puedes acumular puntos por tus compras de hasta el 3% en tiendas The Home Depot México y 1% en otros establecimientos participantes.</li>
              <li><span><i class="fa fa-check list"/></span>Preventas CitiBanamex con las que podrás obtener tus boletos antes que nadie.</li>
              <li><span><i class="fa fa-check list"/></span>Promociones Exclusivas con descuentos y beneficios pagando con tu tarjeta de crédito CitiBanamex.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión Anual de $600 sin IVA.</li>
            </ul>

            <p class="text">Tarjeta de Crédito Office Depot CitiBanamex.</p>
            <ul
              id="check2"
              class="text pl-3">
              <li><span><i class="fa fa-check list"/></span>Beneficios en tiendas Office Depot con el 3% de descuento permanente en Office Depot de hasta el 20% de descuento en el Centro de Copiado, regalo de primera compra y meses sin intereses.</li>
              <li><span><i class="fa fa-check list"/></span>Reembolso Office Depot, con este puedes recibir el 1% de reembolso anual por todas tus compras que realices con tu Tarjeta de Crédito Office Depot de CitiBanamex.</li>
              <li><span><i class="fa fa-check list"/></span>Tasa del 0% con la que podrás realizar compras a meses sin intereses en miles de establecimientos.</li>
              <li><span><i class="fa fa-check list"/></span>Límite Personal de pagos, con los que podrás diferir en el saldo parcial o total de tu tarjeta de crédito en las mensualidades con una tasa fija preferencial.</li>
              <li><span><i class="fa fa-check list"/></span>Participa en preventas exclusivas de CitiBanamex con  las que tendrás la posibilidad de obtener tus boletos antes que nadie con esta tarjeta.</li>
              <li><span><i class="fa fa-check list"/></span>CAT promedio del 46.5% sin IVA.</li>
              <li><span><i class="fa fa-check list"/></span>Comisión anual de $600 sin IVA.</li>
            </ul>

            <p class="text">Recuerda que mencionamos las tarjetas que son las más reconocidas de CitiBanamex sin embargo para que puedas conocer más de ellas es importante que Compares Ya para que sepas los beneficios de las demás tarjetas y que de todas la que ofrece elijas la mejor para ti y tus posibilidades.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="call-to-action mt-3 text-white text-center">
      <div class="overlay" />
      <div class="container">
        <div class="row">
          <div class="col-12 borde2">
            <h1 class="fuente2">Compara Ya mí experto aliado.</h1>
            <hr class="linea">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid blanco ">
        <div class="row">
          <div class="col-12 col-md-11 ml-md-3 ml-lg-5 mt-4 mt-md-5 rec">
            <p class="text">Compara Ya será tu aliado, para que elijas la tarjeta correcta acorde a tus necesidades y las de tu familia, además que podrás disfrutar de la veracidad y ahorro de tiempo, con nosotros puedes realizar todo tu tramite de manera rápida y sencilla, ten la garantía de que podrás contar con un respaldo financiero pues te ayudaremos a que encuentres la mejor opción para ti y tu estilo de vida, atrévete y Compara Ya.</p>
          </div>
        </div>
      </div>
    </section>
    <a
      id="boton-arriba"
      :href="$store.state.config.prueba" ><i class="fa fa-angle-up arrow"/> </a>
  </div>
</template>
<style>
#check2 li {
  list-style: none;
}
#check3 li {
  list-style: none;
}
hr {
  background-color: #014a8b !important;
}
strong {
  color: #333;
}
.arrow {
  font-size: 40px;
}
.blanco {
  background-color: white;
}
.borde {
  border-bottom: solid #014a8b 4px !important;
  width: 100%;
  font-weight: bold;
}
.borde2 {
  width: 100%;
  font-weight: bold;
  color: white;
  margin-top: 2%;
}
#boton-arriba {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #00d752;
  background-color: rgba(250, 255, 255, 0.5);
  border: rgba(250, 255, 255, 0.5) solid 1px;
  border-radius: 100%;
  padding: 2px 10px;
}
#boton-arriba:hover {
  background-color: #00d752;
  color: white;
}
.fuente {
  color: #777;
}
.fuente2 {
  font-size: 6vh;
}
.list {
  color: rgb(0, 224, 66);
}
.linea {
  width: 22%;
  height: 1vh;
}
.m-t {
  margin-top: 8vh;
}
.m-t2 {
  margin-top: 4vh;
}
.text {
  font-size: 20px;
}

@media (min-width: 801px) and (max-width: 1100px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -2%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 6vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: -2%;
  }
  #boton-arriba {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 20px;
    color: #777;
  }
  .fuente2 {
    font-size: 6vh;
  }
  .text {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 4vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 2em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 1.5em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .borde {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  .borde2 {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 1.5em;
  }
  #boton-arriba {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding: 0px 6px;
  }
  .arrow {
    font-size: 20px;
  }
  .fuente {
    font-size: 22px;
    color: #777;
  }
  .fuente2 {
    font-size: 3vh;
  }
  .text {
    font-size: 16px;
  }
}
</style>

<script>
export default {
  created: function() {
    this.$store.state.config.prueba = 'citi#citi-formulario'
  }
}
</script>
